// border-box model
*,
*:before,
*:after {
	box-sizing: border-box;
}

// press footer down

/* html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
.footer, .push {
    height: 100px;
    clear: both;
} */

// long placeholder ends ...
input[placeholder] {
	text-overflow: ellipsis;
}

input::-moz-placeholder {
	text-overflow: ellipsis;
}

input:-moz-placeholder {
	text-overflow: ellipsis;
}

input:-ms-input-placeholder {
	text-overflow: ellipsis;
}

// hide placeholder on focus
:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

// label fix
label {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

// only vertical resize
textarea {
	resize: vertical;
}

// no outline
input:focus,
textarea:focus {
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
button {
	-webkit-appearance: none;
	appearance: none;
}