	/* common.scss */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
	display: block;
	margin: 0 auto;
	padding: 0;
}
a {
	outline: none;
	margin: 0;
	border: 0;
	text-decoration: none;
}
/* selection */
*::selection {
    color: $color-1; 
    background: #b4b4b4;
}

html, body, .wrapper {
	min-height: 100%;
	width: 100%;
	font-size: 14px;
	margin: 0 auto;
	position: relative;
	color: #000;
	background: #fff;
	font-family: $font-stack;
	font-weight: 300;
}
body {
	overflow-x: hidden;
	min-width: 300px;
}
.slick-slide {
	outline: 0 !important;
}

.align-center {
	text-align: center;
}
.mb-40 {
	margin-bottom: 40px;
}
	/* common.scss end */