/* breakpoints */
$screen-xs: 32.25em !default; // 516px
// Small screen / tablet
$screen-sm: 48em !default; // 767px
// Medium screen / desktop
$screen-md: 62em !default; // 992px
// Large screen / wide desktop
$screen-lg: 75em !default; // 1200px

/* color */
$color-1: #ffcd00;
$color-2: #fff;
$color-3: #b4b4b4;
$color-4: #000;
$grey: #767676;
$light-grey: #d8d7d7;
/* fonts */
$main-font:'Roboto';
$cond-font:'Roboto Condensed';
$base-font-1: 'Arial';
$sans-serif: 'sans-serif';
$font-stack: $main-font, $base-font-1, $sans-serif;
$font-stack--cond: $cond-font, $main-font, $sans-serif;