
	/* warning banner */
.warning-banner {
	position: relative;
	width: 100%;
	height: 10em;
	padding: 2%;
	text-align: center;
	border: 1px solid red;
	h1,p {
		width: 50%;
		margin: 0 auto;
	}
}
	/* header */

	/* content */

	/* footer */

	/* Animations */
