.accordion {
	position: relative;
	padding-bottom: 15px;

}
.accrodion__btn {
	cursor: pointer;
	&:after {
		content: "";
		display: block;
		height: 15px;
		width: 100%;
		max-width: 960px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) rotateX(180deg);
		background-image: url("../img/icon/accordion-line.png");
		background-repeat: no-repeat;
		background-position: center;
		transform-origin: 50% 50%;
		transition: transform .2s;
	}
}
.is-close {
	.accrodion__btn {
		cursor: pointer;
		&:after {
			transform: translateX(-50%) rotateX(0);
		}
	}
}
.accrodion__content {

}