.contacts {

}

@media only screen and (max-width: 991px) {
	.contacts__col {
		&:nth-child(2n+1) {
			clear: left;
		}
	}
}
@media only screen and (max-width: 767px) {
	.contacts__col {
		&:nth-child(2n+1) {
			clear: none;
		}
	}
}
