$indent: 35px;

.content {
	color: #000;
	font-weight: 300;
	h1,
	h2 {
		font-size: 35px;
		font-weight: 100;
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;
	}
	h3 {
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 30px;
		//text-align: center;
		line-height: 1.5;
		text-indent: $indent;
	}
	h4 {

	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.7;
		margin-bottom: 25px;
		text-indent: $indent;
		color: grey;
	}
	ol,
	ul {
		font-weight: 300;
		list-style: none;
		font-size: 16px;
		line-height: 1.875;
		color: $grey;
		padding: 0;
		margin-bottom: 40px;
		li {
			padding-left: 40px;
			position: relative;
		}
	}

	ul {
		> li {
			&:after {
				content: "";
				background-image: url("../img/icon/info-list-label.png");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				display: block;
				width: 25px;
				height: 18px;
				position: absolute;
				top: 4px;
				left: 0;
			}
		}
	}

	ol {
		counter-reset: section;
		> li {
			&:after {
				counter-increment: section;
				content: counters(section,".") ". ";
				display: block;
				width: 24px;
				height: 18px;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 16px;
				color: #ffcd00;
				text-align: left;
				font-weight: 400;
			}
		}
	}

	// !last
	strong {
		color: #000;
		font-weight: 300;
	}
	a {
		color: inherit;
		text-decoration: none;
		transition: color .2s;
		&:hover,
		&:active {
			color: #cca300;
		}
	}
}

