.delivery {
	padding: 70px 0;
	.section-title {
		margin-bottom: 30px;
	}
}

.delivery__sub-title {
	display: block;
	max-width: 660px;
	font-size: 20px;
	margin-bottom: 50px;
	color: $grey;
	text-align: center;
	font-weight: 300;
}
.delivery__item {
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
	position: relative;
	padding-left: 150px;

}
.delivery__icon {
	display: block;
	width: 100px;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.delivery__title {
	font-size: 20px;
	font-weight: 300;
	color: #000;
	margin-bottom: 20px;
}
.delivery__text {
	color: $grey;
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.7;
	strong {
		font-weight: 300;
		color: #000;
	}
}
.delivery__condition {
	color: $grey;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	strong {
		font-weight: 300;
		color: #000;
	}
}
@media only screen and (max-width: $screen-xs) {
	.delivery__item {
		margin-bottom: 40px;
		padding: 0 5%;
	}
	.delivery__icon {
		position: static;
		margin: 0 auto;
		margin-bottom: 20px;
		transform: none;
	}
	.delivery__title {
		text-align: center;
	}
}