.gm-style-iw {
	//width: 400px !important;
	top: auto !important;
	bottom: 0 !important;
	//left: 50% !important;
	left: 27px !important;
	//transform: translateX(-50%);
	box-shadow: none;
	border: none;
	border-radius: 0;
	display: block;
	background: transparent;
	color: #fff;
	padding: 0;
	height: auto !important;
	//min-height: 200px;
	max-height: none !important;
	overflow: visible !important;
	> div {
		max-height: none !important;
		overflow: visible !important;
		> div {
			max-height: none !important;
			overflow: visible !important;
		}
	}
}
#iw-container {
	margin-bottom: 50px;
}


