.payment {}
.payment__col {
	width: 20%;
	float: left;
	padding: 0 15px;
}
.payment__item {
	text-align: center;
	margin-bottom: 30px;
	> img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
		border-radius: 50%;
		width: auto;
		height: auto;
		max-width: 100%;
	}
	> p {
		font-size: 16px;
		color: #000;
	}
}
@media only screen and (max-width: $screen-sm) {
	.payment__col {
		width: 50%;
		&:nth-child(2n+1) {
			clear: left;
		}
	}
}