/* service-classes.scss */

/*==========  Mobile First Method  ==========*/

.center-xs {
	text-align: center;
}
.left-xs {
	text-align: left;
}
.right-xs {
	text-align: right;
}

@media only screen and (min-width: $screen-sm) {
	.center-sm {
		text-align: center;
	}
	.left-sm {
		text-align: left;
	}
	.right-sm {
		text-align: right;
	}
} // $screen-sm

@media only screen and (min-width: $screen-md) {
	.center-md {
		text-align: center;
	}
	.left-md {
		text-align: left;
	}
	.right-md {
		text-align: right;
	}
} // $screen-md

@media only screen and (min-width: $screen-lg) {
	.center-lg {
		text-align: center;
	}
	.left-lg {
		text-align: left;
	}
	.right-lg {
		text-align: right;
	}
} // $screen-lg
