/* product-slider.scss */

.showroom-slider {
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
}

.showroom-gallery {
	float: left;
	width: 16.6%;
	position: relative;
}

.showroom-image {
	float: left;
	width: 83.4%;
	position: relative;
}

.showroom-slider--right {
	.showroom-gallery {
		left: 83.4%;
	}
	.showroom-image {
		right: 16.6%;
	}
}
// showroom-img-slider
.showroom-image__slider {
	position: relative;
	.slider__btn {
		display: block;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 100;
		text-align: center;

		opacity: 0;
		transition: opacity .2s;
		> i {
			color: #767676;
			font-size: 40px;
			transition: all .2s;
		}
		&:hover,
		&:hover {
			i {
				color: $color-1;
			}
		}
		&.slick-disabled {
			visibility: hidden;
		}
		&.slider__btn--prev {
			transform: translateY(-50%);
			left: 0;
		}
		&.slider__btn--next {
			transform: translateY(-50%);
			right: 0;
		}
	}
	&:hover .slider__btn {
		opacity: 1;
	}
}

.showroom-image__slide {
	padding: 7px 12px;
	> img {
		display: block;
		width: auto;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
}

// showroom-img-slider end

.showroom-gallery__slide,
.showroom-image__slide {
	display: block;
	width: 100%;
}

// showroom-gallery__slider
.showroom-gallery__slide-inner {
	display: block;
	width: 100%;
	padding-bottom: 77.5%;
	position: relative;
	overflow: hidden;
	/* default img */
	background-image: url(../img/i/prod-img-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	> img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid transparent;
		background: rgba(0, 0, 0, 0.1);
		transition: opacity .2s;
	}
}

.showroom-gallery__slide {
	position: relative;
	padding: 7px 0;
	opacity: .5;
	/*	&:after {
			background: transparent;
		}*/
	&.slick-current {
		opacity: 1;
		.showroom-gallery__slide-inner:after {
			border: 1px solid #ffcc00;
			background: rgba(0, 0, 0, 0);
		}
	}
}

// showroom-gallery__slider


@media only screen and (max-width: 767px) {
	.showroom-slider--right {
		.showroom-gallery {
			left: auto;
		}
		.showroom-image {
			right: auto;
		}
	}
	.showroom-gallery,
	.showroom-image {
		float: none;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.showroom-image {
		top: -10px;
	}
	.showroom-gallery__slide,
	.showroom-image__slide {
		padding: 10px;
	}
	//.showroom-image__slider {
	//	.slider__btn {
	//		opacity: 1;
	//	}
	//}
}
/* 767px end */

/* product-slider.scss end */