.social {
	display: block;

}
.social__title {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 300;
	color: $grey;
	text-align: center;
	padding: 0;
	position: relative;
	text-transform: uppercase;
}
.social__list {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
	font-size: 34px;
	font-weight: 600;
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		margin-bottom: 10px;
		a {
			display: block;
			color: $light-grey;
			transition: all .2s;
			&:hover,
			&:active {
				color: $color-1;
			}
		}
	}
}