/* video-banner.scss */

.banner {
	width: 100%;
	margin: 0 auto;
	position: relative;
	background: #191919;
	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
.banners-holder {
	.banner {
    margin-bottom: 10px;
	}
}
.section--banners-grid {
	.banner {
		margin-bottom: 10px;
	}
}

.banner__link {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.banner__img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.banner__play {
	display: block;
	width: 190px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: all .2s;
	z-index: 2;
	opacity: .9;
	&:hover,
	&:active {
		transform: translateX(-50%) translateY(-50%) scale(1.1);
		opacity: 1;
	}
	&:focus {
		outline: none;
	}
	> img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.banner__content {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	padding-right: 60px;
	text-align: left;
	color: #fff;
}

.banner__content--bottom {
	top: auto;
	bottom: 30px;
	text-align: center;
}

.banner__content-inner {
	padding-right: 60px;
}

.banner__title {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 100;
	line-height: 1.2;
}

.banner__text {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.5;
}

.banner--video {}


/* 992px */

@media only screen and (max-width: 992px) {
	.banner__content {
		position: absolute;
		padding: 20px 0;
		transform: none;
		text-align: center;
		top: 90px;
	}
	.banner__title {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.banner__text {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.banner__play {
		width: 100px;
		top: 20px;
		transform: translateX(-50%);
		&:hover,
		&:active {
			transform: translateX(-50%) scale(1.1);
		}
	}
}


/* 992px end*/


/* 767px */

@media only screen and (max-width: 767px) {
	.banner__content {
		position: static;
	}
	.banner__content-inner {
		padding: 0;
	}
	.banner__img-wrapper {
		position: relative;
	}
	.banner__play {
		width: 60px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		&:hover,
		&:active {
			transform: translateX(-50%) translateY(-50%) scale(1.1);
		}
	}
}


/* 767px end */


/* 480px */

@media only screen and (max-width: 480px) {}


/* 480px end */


/* video-banner.scss end */