/* brand-slider.scss */

.brand-slider {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0;
	padding-bottom: 10px;
	text-align: center;
	.slider__btn {
		display: block;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 100;
		text-align: center;
		padding: 10px 5px;
		> i {
		color: #767676;
		font-size: 40px;
		transition: all .2s;
	}
	&:hover,
	&:hover {
		i {
			color: $color-1;
		}
	}
		&.slick-disabled {
			visibility: hidden;
		}
		&.slider__btn--prev {
			transform: translateY(-50%) translateX(-70px);
			left: 0%;
		}
		&.slider__btn--next {
			transform: translateY(-50%) translateX(70px);
			right: 0%;
		}
	}
}

.brand-slider__slide {
	outline: 0 !important;
	padding: 10px;
	display: inline-block !important;
	vertical-align: middle;
}

.brand-slider__slide--mw {
	max-width: 300px;
}

.brand-item {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	&:hover {
		.brand-item__overlay {
			opacity: 1;
			pointer-events: auto;
			//transform: translateY(0%);
		}
	}
}

.brand-item__img {
	display: block;
	width: 100%;
	height: auto;
}

.brand-item__overlay {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	pointer-events: none;
	//transform: translateY(100%);
	transition: all .4s ease-out;
	z-index: 10;
}

.brand-item__link-btn {
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	border-bottom: 1px solid #fff;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
		border-color: $color-1;
	}
}


/* 1400px */

@media only screen and (max-width: 1400px) {
	.brand-slider {
		padding: 0 40px;
		margin-bottom: 30px;
		.slider__btn {
			font-size: 30px;
			&.slider__btn--prev {
				transform: translateY(-50%);
			}
			&.slider__btn--next {
				transform: translateY(-50%);
			}
		}
	}
}


/* 1400px end*/

/* 767px */

@media only screen and (max-width: 767px) {
	.brand-item__img {
		margin-bottom: 10px;
	}
	.brand-item__overlay {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0%);
		position: static;
		background: #fff;
	}
	.brand-item__link-btn {
		color: #000;
		border-bottom-color: #000;
	}
}

/* 767px end */

/* brand-slider.scss end */