/* buttons.scss */


/* .bg-btn */

.bg-btn {
	display: inline-block;
	padding: 16px 40px;
	text-align: center;
	background: rgba(0, 0, 0, 0.64);
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.1;
	cursor: pointer;
	outline: 0;
	border: 0;
	appearance: none;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
	}
}

.bg-btn--no-bg {
	background: transparent;
}

.bg-btn--brand {
	padding: 5px 10px;
	font-size: 22px;
	text-decoration: underline;
	font-weight: 300;
}

.bg-btn--callback {
	font-size: 18px;
	padding: 12px 30px;
}

.bg-btn--banner {
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.3);
	font-size: 18px;
	padding: 17px 20px;
	min-width: 360px;
	max-width: 90%;
	background: rgba(0, 0, 0, 0.8);
	&:hover,
	&:active {
		border: 1px solid rgba(255, 255, 255, 1);
		color: rgba(255, 255, 255, 1);
	}
}


/* .bg-btn end*/


/* link-btn */

.link-btn {
	display: inline-block;
	padding: 0;
	position: relative;
	text-align: center;
	color: #767676;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.1;
	cursor: pointer;
	border-bottom: 1px solid #767676;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
		border-bottom: 1px solid $color-1;
	}
}

.link-btn--news {
	font-size: 22px;
}

.link-btn--brand {
	font-size: 22px;
	color: #fff;
	border-bottom: 1px solid #fff;
}


/* link-btn end */


/* .border-btn */

.border-btn {
	display: inline-block;
	padding: 30px 90px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	background: transparent;
	color: #fff;
	border: 1px solid #555;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.1;
	cursor: pointer;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
		background: rgba(0, 0, 0, 0.3);
		border: 1px solid $color-1;
	}
}

.border-btn--black-border {
	color: #000;
	&:hover,
	&:active {
		color: #0d0d0d;
		border: 1px solid #0d0d0d;
	}
}

.submit-btn {
	display: inline-block;
	padding: 15px 10px;
	max-width: 100%;
	min-width: 180px;
	margin: 0 auto;
	text-align: center;
	background: rgba(0, 0, 0, 0.65);
	color: #fff;
	border: 0;
	outline: 0;
	appearance: none;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.1;
	cursor: pointer;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
	}
}

.label-btn {
	display: inline-block;
	padding: 0;
	margin-left: 45px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	color: #767676;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.1;
	cursor: pointer;
	border-bottom: 1px solid #767676;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
		border-bottom: 1px solid $color-1;
	}
	&:before {
		content: "";
		display: block;
		width: 35px;
		height: 35px;
		position: absolute;
		background-size: auto;
		background-position: center;
		background-repeat: no-repeat;
		top: 50%;
		transform: translateY(-50%);
		left: -40px;
	}
}

.label-btn--back {
	font-size: 22px;
	&:before {
		background-image: url(../img/icon/arrow--back.png);
	}
}

.label-btn--watch:before {
	background-image: url(../img/icon/watch-icon.png);
}

.label-btn--gift:before {
	background-image: url(../img/icon/gift-icon.png);
}

.label-btn--delivery {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 100;
	&:before {
		background-image: url(../img/icon/delivery-icon.png);
	}
}

.label-btn--payment {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 100;
	&:before {
		background-image: url(../img/icon/pay-icon.png);
	}
}

.label-btn--exchange {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 100;
	&:before {
		background-image: url(../img/icon/exchange-icon.png);
	}
}


/* 992px */

@media only screen and (max-width: 992px) {
	.border-btn {
		padding: 20px;
		font-size: 20px;
	}
}
/* 992px end */

/* 767px */
@media only screen and (max-width: 767px) {
	.border-btn {
		padding: 20px 40px;
		font-size: 19px;
	}
	.link-btn--brand {
		font-size: 18px;
		color: #737373;
		border-bottom: 1px solid #737373;
	}
}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {
	.border-btn {
		padding: 15px 20px;
		font-size: 16px;
	}
	.bg-btn {
		font-size: 16px;
    padding: 15px 20px;
		min-width: 200px;
	}
}
/* 480px end */


/* .border-btn end*/


/* buttons.scss end */