/* callback-form.scss */
.callback-form {
	text-align: center;
	> hr {
		width: 100%;
		background: #e2e2e2;
		margin-bottom: 30px;
	}
}
.callback-form__title {
	font-size: 30px;
	color: #000;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 40px;
	
}
/* callback-form.scss end */