/* cart-page.scss */
.cart-page {
	font-weight: 300;
}
.cart-page__table {
	text-align: left;
	vertical-align: middle;
	background: transparent;
	width: 100%;
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: 50px;
}

.cart-page__table-title {
	color: #bfbfbf;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #bfbfbf;
}

.cart-page__table-remove {
	vertical-align: middle;
	text-align: center;
	padding: 20px 5px;
	width: 50px;
	max-width: 7%;
	//background: red;
	a {
		display: inline-block;
		margin: 0 auto;
		transition: all .2s;
		&:hover {
			opacity: .8;
			transform: scale(1.06);
		}
	}
	img {
		display: block;
		width: 100%;
		max-width: 32px;
		height: auto;
	}
}
.cart-page__table-img {
	vertical-align: middle;
	text-align: center;
	padding: 20px 5px;
	max-width: 130px;
	width: 10%;
	//background: green;
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 120px;
			height: auto;
		}
}
.cart-page__table-info {
	vertical-align: middle;
	padding: 20px 5px;
	max-width: 25%;
	//background: red;
}
.cart-page__table-prod-name {
	display: block;
	color: #000;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 20px;
	text-transform: uppercase;
	
}

.cart-page__table-prod-id {
	font-size: 14px;
	color: #767676;
	
}
.cart-page__table-quantity {
	vertical-align: middle;
	padding: 20px 5px;
	max-width: 25%;
	width: 260px;
}

.cart-page__table--price {
	vertical-align: middle;
	padding: 20px 5px;
	max-width: 130px;
	max-width: 12.5%;
	font-size: 25px;
	//width: 20%;
	
	//background: green;
}
.cart-page__table--price--old {
	color: #767676;
}
.cart-page__table--price--new {
	color: #000;
}
.cart-page__table--price-number {
	
}

.cart-page__table--price-currency {
	font-size: 80%;
}


.cart-page__total {
	text-align: right;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.cart-page__total-label {
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	color: #000;
	margin-right: 20px;
	
}
.cart-page__total-price {
	display: inline-block;
	vertical-align: baseline;
	text-align: left;
	font-size: 38px;
	color: #cca300;
	margin-right: 10px;
	width: 250px;
}
.cart-page__total-price--grey {
	color: #949494;
}
.cart-page__total-currency {
	font-size: 80%;	
}


.delivery-form__row {
	margin-bottom: 20px;
}
.cart-page__add-info {
	font-size: 18px;
	color: #767676;
	text-transform: uppercase;
	margin-bottom: 20px;
	> strong {
		font-weight: 300;
		color: #000;
	}
}
/* 1200px */
@media only screen and (max-width: 1200px) {
	.cart-page__total-price {
		width: 210px;
	}
	
}
/* 1200px end*/
/* 992px */
@media only screen and (max-width: 992px) {
	.cart-page__table-remove {
		width: 30px;
	}
	.cart-page__table-title,
	.cart-page__table-prod-name,
	.cart-page__table--price {
		font-size: 16px;
	}
	
}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {
	
	.cart-page__table {
		tbody {
			display: block;
			width: 100%;
			max-width: 100%;
			padding: 5px;
			text-align: center;
			margin: 0 auto;
		}
		.cart-page__table-title {
			display: none;
		}
		.prod-option__label {
			width: 45%;
			text-align: right;
		}
		.prod-option__input {
			width: 45%;
			text-align: left;
		}
	}
	
	.cart-page__table-img,
	.cart-page__table-info,
	.cart-page__table-quantity,
	.cart-page__table--price {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 5px;
		text-align: center;
		margin: 0 auto;
	}
	
	.cart-page__table-prod-cart {
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #bfbfbf;
		position: relative;
		
	}
	.cart-page__table-remove {
		display: inline-block;
		width: 32px;
		height: 32px;
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 0;
	}
	.cart-page__table--price--old {
		position: relative;
		display: inline-block;
		width: auto;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #767676;
			position: absolute;
			top: 50%;
			left: 0;
		}
	}
	.cart-page__table-img {
		img {
			max-width: 200px;
		}
	}
	.cart-page__total {
		margin-bottom: 20px;
	}
	.cart-page__total-label {
		font-size: 18px;
	}
	.cart-page__total-price {
		font-size: 20px;
		width: 200px;
	}
}
/* 767px end */
/* 480px */
@media only screen and (max-width: 480px) {
	.cart-page__total {
		margin-bottom: 20px;
	}
	.cart-page__total-label {
		text-align: right;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	.cart-page__total-price {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 5px;
		text-align: right;
	}
	.delivery-form__row {
		.tsr-select {
			font-size: 16px;
			.jq-selectbox__select {
				font-size: 16px;
			}
			.jq-selectbox__dropdown {
				font-size: 16px;
			}
		}
	}
}
/* 480px end */
/* cart-page.scss end */