/* cart-label.scss */
.cart {
	position: fixed;
	bottom: 0;
	right: 50px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.7);
	width: 300px;
	height: 145px;
	z-index: 100;
	
	transition: 
		width .5s ease-out .1s, 
		height .5s ease-out .1s,  
		opacity .3s linear .2s;
}
.cart--close {
	width: 300px;
	height: 145px;
}
.cart--open {
	width: 750px;
	height: 700px;
	max-height: 100%;
	max-width: 100%;
	//margin-left: 50px;
	padding: 40px;
	padding-bottom: 110px;
	overflow: hidden;
}
.cart__control-label {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 25px;
	right: 25px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all .2s;
	&:hover,
	&:active {
		transform: scale(1.06) translateY(-2px);
		opacity: .9;
	}
}
.cart__control-label {
	background-image: url(../img/icon/box-out-icon.png);
}

.cart-title-wrapper {
	padding: 35px 45px 20px 100px;
	text-align: left;
	line-height: 1.5;
}
.cart-title--open {
	display: none;
	font-size: 35px;
	font-weight: 300;
	text-transform: uppercase;
	padding-left: 30px;
	color: #fff;
}
.cart-title--close {
	font-size: 18px;
	font-weight: 300;
	color: #cdcdcd;

}

.cart__logo {
	display: block;
	width: 50px;
	height: 70px;
	position: absolute;
	top: 40px;
	left: 55px;
	background-image: url(../img/icon/cart-icon.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all .2s;
	&:hover,
	&:active {
		transform: scale(1.06) translateY(-2px);
		opacity: .9;
	}
}

.cart-content {
	display: block;
	color: #fff;
	width: 100%;
	position: relative;
	padding-bottom: 110px;
	transition: opacity .2s;
	transition-delay: .5s;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	/* position: absolute;
	visibility: hidden;
	pointer-events: none; */
}
.cart__table-wrapper {
	overflow: auto;
	max-height: 100%;
}
.cart__bottom {
	//width: 100%;
	height: 110px;
	border-top: 1px solid #fff;
	position: absolute;
	bottom: 0;
	left: 40px;
	right: 40px;
	padding-top: 20px;
	padding-bottom: 35px;
	overflow: hidden;
}
.cart__in-cart-btn {
	float: left;
	font-size: 20px;
}
.cart__total-price {
	font-size: 20px;
	font-weight: 300;
	color: #bfbfbf;
	float: right;
	text-transform: uppercase;
	padding: 10px 0;
}
.cart__total-price-num {
	font-size: 30px;
	color: $color-1;
}
.cart__total-price-currency {
	font-size: 25px;
	color: $color-1;
}
.cart__table-wrapper {
	width: 100%;
	max-height: 100%;
	overflow: auto;
}
.cart__table {
	text-align: left;
	vertical-align: middle;
	background: transparent;
	width: 100%;
}

.cart__table-title {
	color: #bfbfbf;
	font-weight: 200;
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #767676;
}

.cart__table-remove {
	vertical-align: middle;
	text-align: center;
	padding: 5px;
	max-width: 40px;
	width: 7%;
	//background: red;
	a {
		display: block;
		margin: 0 auto;
		transition: all .2s;
		&:hover {
			opacity: .8;
			transform: scale(1.06);
		}
	}
	img {
		display: block;
		width: auto;
		max-width: 32px;
		height: auto;
	}
}
.cart__table-img {
	vertical-align: middle;
	text-align: center;
	padding: 5px;
	max-width: 130px;
	width: 20%;
	//background: green;
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 120px;
			height: auto;
		}
}
.cart__table-info {
	vertical-align: middle;
	padding: 5px 10px;
	width: 43%;
	//background: red;

}
.cart__table-prod-name {
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.cart__table-prod-id {
	font-size: 14px;
	color: #bfbfbf;
}
.cart__table--price {
	vertical-align: middle;
	padding: 5px;
	max-width: 130px;
	width: 20%;
	
	//background: green;
}
.cart__table--price-number {
	font-size: 25px;
	color: #fff;
}

cart__table--price-currency {
	font-size: 20px;
	color: #fff;

}
/* cart--close */
.cart--close {
	.cart-title--open,
	.cart-content,
	.cart__bottom {
		display: none;
	}
	
}

/* .cart--open */
.cart--open {
	.cart-title--close {
		display: none;
	}
	.cart-title-wrapper {
		padding: 15px 45px 20px 70px;
	}
	.cart-title--open {
		display: block;
	}
	.cart__control-label {
		background-image: url(../img/icon/box-in-icon.png);
	}
	.cart-content {
		opacity: 1;
		transition: all 0;
	}
}

/* 1200px */
@media only screen and (max-width: 1200px) {

}
/* 1200px end*/

/* 1024px */
@media only screen and (max-width: 1024px) {

	
	
}
/* 1024px end*/

/* 992px */
@media only screen and (max-width: 992px) {
	.cart {
		right: 0px;
	}
}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {
	.cart {
		right: 0px;
	}
	.cart--close {
		width: 200px;
		height: 100px;
	}
	.cart__control-label {
		visibility: hidden;
		pointer-events: none;
	}
	.cart__logo {
    width: 30px;
    height: 40px;
    top: 30px;
    left: 20px;
	}
	.cart-title-wrapper {
    padding: 5px 10px 10px 40px;
	}
}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {
	.cart--close {
    width: 60px;
    height: 80px;
	}
	.cart-title-wrapper {
		display: none;
	}
	.cart__logo {
    top: 20px;
    left: 16px;
	}

}
/* 480px end */


/* 320px */
@media only screen and (max-width: 320px) {

}
/* 320px end */

/* cart-label.scss end */