/* category-slider.scss */
.category-slider {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 40px;
	padding-bottom: 10px;
	text-align: center;
	.slick-dots {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 10px 0;
		> li {
			display: inline-block;
			margin: 0 7px 10px 7px;
			> button {
				display: block;
				appearance: none;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: #e5e5e5;
				text-indent: -999999px;
				padding: 0;
				margin: 0 auto;
				outline: 0;
				border: 0;
				transition: all .2s;
				&:hover,
				&:active {
					background: #b2b2b2;
				}
			}
			&.slick-active > button {
				background: #b2b2b2; 
			}
		}
	}
}
.category-slider__slide {
	padding: 10px 20px;
	outline: 0;
}

.category-slider__img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.category-slider__name {
	font-size: 18px;
	text-transform: uppercase;
	color: #767676;
}
.category-slider__btn {
	display: block;
	position: absolute;
	top: 50%;
	background-color: transparent;
	border: 0;
	outline: 0;
	z-index: 100;
	text-align: center;
	padding: 10px 5px;
	> i {
		color: #767676;
		font-size: 30px;
		transition: all .2s;
	}
	&:hover,
	&:hover {
		i {
			color: $color-1;
		}
	}
	&.slick-disabled {
		visibility: hidden;
	}
}

.category-slider__btn--prev {
	transform: translateY(-50%);
	left: 0%;
}

.category-slider__btn--next {
	transform: translateY(-50%);
	right: 0%;
}
/* category-slider.scss end */