/* category-menu.scss */

.category-menu {
	display: block;
	width: 100%;
	max-width: 1200px;
	min-height: 70px;
	background: transparent;
	margin: 0 auto;
	position: relative;
	padding-top: 30px;
	z-index: 2;
}

.category-menu__mobile-title {
	display: block;
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px;
	text-align: left;
	padding-right: 30px;
	position: relative;
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	display: none;
	i {
		display: inline-block;
		font-size: 16px;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
	}
	&:hover,
	&:active {
		color: #cca300;
	}
}

.category-menu__list {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.category-menu__item {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
	padding-bottom: 10px;
	position: relative;
	> i {
		display: none;
	}
	> a {
		display: block;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		position: relative;
		transition: color .2s;
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #b0b0b0;
			border-bottom: 1px solid #c8c8c8;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0px;
			transition: all .2s;
		}
		&:hover,
		&:active {
			color: #cca300;
			&:after {
				background: #e9dab0;
				border-bottom: 1px solid #f0e5c8;
			}
		}
	}
}

.category-menu__item:last-child .category-menu__sub-list {
	right: 0;
	left: auto;
}

.category-menu__sub-list {
	display: block;
	width: 250px;
	position: absolute;
	top: 24px;
	left: -10px;
	background: rgba(255, 255, 255, 0.9);
	text-align: left;
	padding: 10px 10px;
	//visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transform: translateY(20px);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
	z-index: 10;
	transition: all .2s;
}

.category-menu__sub-item {
	display: block;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
	> a {
		display: block;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		text-transform: none;
		position: relative;
		transition: color .2s;
		&:hover,
		&:active {
			color: #cca300;
		}
	}
}

.category-menu__item:hover .category-menu__sub-list {
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
}


/* 1200px */

@media only screen and (max-width: 1200px) {
	.category-menu__item {
		margin: 0 3px;
		a {
			font-size: 13px;
		}
	}
}


/* 1200px end*/


/* 1024px */

@media only screen and (max-width: 1024px) {}


/* 1024px end*/


/* 992px */

@media only screen and (max-width: 992px) {}


/* 992px end*/


/* 767px */

@media only screen and (max-width: 767px) {
	.category-menu__mobile-title {
		display: block;
		box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
	}
	.category-menu__list {
		display: none;
		background: rgba(0, 0, 0, 0.1);
		max-width: 320px;
		margin: 0 auto;
		text-align: left;
		position: relative;
		box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
	}
	.category-menu__item {
		display: block;
		width: 100%;
		padding: 10px;
		padding-right: 30px;
		> a {
			&:after {
				display: none;
			}
		}
		i {
			display: inline-block;
			font-size: 16px;
			vertical-align: middle;
			position: absolute;
			//top: 50%;
			//transform: translateY(-50%);
			top: 9px;
			right: 10px;
			cursor: pointer;
			&:hover,
			&:active {
				color: #cca300;
			}
		}
	}
	.category-menu__sub-list {
		display: none;
		width: 100%;
		position: static;
		top: auto;
		left: auto;
		background: transparent;
		text-align: left;
		padding: 10px;
		padding-left: 20px;
		padding-bottom: 0;
		pointer-events: all;
		opacity: 1;
		transform: translateY(0);
		box-shadow: 0 0 0;
		z-index: 1;
	}
	.category-menu__item:hover .category-menu__sub-list {
		pointer-events: all;
		opacity: 1;
		transform: translateY(0);
	}
	.category-menu__sub-item {}
}


/* 767px end */


/* 480px */

@media only screen and (max-width: 480px) {}


/* 480px end */


/* 320px */

@media only screen and (max-width: 320px) {}


/* 320px end */


/* category-menu.scss end */