/* category-title.scss */

.category-title {
	h1 {
		font-size: 30px;
		font-weight: 100;
		text-transform: uppercase;
		color: #000;
		display: block;
		width: 40%;
		float: left;
	}
	.product-sort {
		padding: 5px 0;
		float: right;
		width: 60%;
		text-align: right;
	}
}


/* 1200px */
@media only screen and (max-width: 1200px) {
	.category-title {
		h1 {
			font-size: 25px;
			width: 100%;
			float: none;
			text-align: center;
			margin-bottom: 30px;
		}
		.product-sort {
			padding: 5px 0;
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}
/* 1200px end */


/* category-title.scss end */