/* checkout-form.scss */
.checkout-form {
	display: block;
	margin: 0 auto;
	text-align: center;
	.tsr-checkbox--register-form {
		margin-bottom: 10px;
		margin-right: 0;
	}
}
.checkout-form__block {
	display: block;
	margin-bottom: 30px;
}
.checkout-form__block--inline {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
	margin-bottom: 20px;
}
.checkout-form__col {
	text-align: center;
	margin-bottom: 45px;
	padding: 0 70px;
	input,
	.tsr-select {
		margin-bottom: 20px;
	}
}
.checkout-form__phone {
	font-size: 22px;
	color: #767676;
	text-transform: uppercase;
	vertical-align: middle;
	font-weight: 300;
	strong {
		display: inline-block;
		vertical-align: middle;
		font-weight: 300;
		color: #000;
	}
}
/* 1200px */
@media only screen and (max-width: 1200px) {
	.checkout-form__col {
		padding: 0 15px;
		overflow: hidden;
	}
}
/* 1200px end*/
/* 992px */
@media only screen and (max-width: 992px) {
	.checkout-form__col {
		margin-bottom: 0;
	}
}
/* 992px end*/
/* checkout-form.scss end */