/* fast-view.scss */

/* .pop-up--fast-view .mfp-close {
	display: none !important;
} */
.fast-view {
	color: #bfbfbf;
	font-family: $font-stack;
	
}
.fast-view__icon {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all .2s;
	appearance: none;
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	cursor: pointer;
	z-index: 10;
	&:hover,
	&:active {
		transform: scale(1.06) translateY(-2px);
		opacity: .9;
	}
	&.fast-view__icon--favorite {
		bottom: 20px;
		right: 15px;
		background-image: url(../img/icon/heart-icon.png);
	}
	&.fast-view__icon--close {
		top: 15px;
		right: 15px;
		background-image: url(../img/icon/box-in-icon.png);
	}
}
.fast-view__title {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 30px;
	padding-right: 35px;
}
.fast-view__title--desctop-only {
	display: block;
	padding-top: 10px;
}
.fast-view__title--mobile-only {
	display: none;
}

.fast-view__desc {
	font-size: 14px;
	text-transform: none;
	margin-bottom: 5px;
	line-height: 1.5;
}
.fast-view__block {}

.fast-view__id {
	padding: 30px 0;
	padding-top: 40px;
}

.fast-view__name,
.fast-view__value {
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.fast-view__option {
	display: block;
	text-align: right;
	width: 100%; 
}
.fast-view__option-label {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	margin-right: 10px;
}
.fast-view__option-input {
	display: inline-block;
	vertical-align: middle;
}
.fast-view__price {
	display: inline-block;
	vertical-align: bottom;
	padding-right: 30px;
}
.fast-view__old-price {
	display: inline-block;
	position: relative;
	font-size: 25px;
	font-weight: 300;
	color: #bfbfbf;
	margin-bottom: 15px;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #bbb;
		position: absolute;
		left: 0;
		top: 50%;
	}
}
.fast-view__new-price {
	display: block;
	position: relative;
	font-size: 30px;
	font-weight: 300;
	color: #cca300;
	margin-bottom: 15px;
}
.fast-view__price-currency {
	font-size: 75%;
}
.fast-view__byu-btn-wrapper {
	display: inline-block;
	vertical-align: bottom;
}
.fast-view__byu-btn {
	margin-bottom: 15px;
}

/* 992px */
@media only screen and (max-width: 992px) {
	
	
}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {
	.fast-view__title--desctop-only {
		display: none;
	}
	.fast-view__title--mobile-only {
		display: block;
	}
	.fast-view__option {
		text-align: left;
	}
	.fast-view__id {
		padding: 10px 0;
	}
}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {

}
/* 480px end */
/* fast-view.scss end */