/* filters.scss */
.filter {
	text-align: left;
	margin-bottom: 30px;
	
}
.filter__title {
	font-size: 25px;
	color: #000;
	font-weight: 100;
	margin-bottom: 0px;
	text-transform: uppercase;
	position: relative;
	&:after {
		content: "";
		display: none;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		background-image: url(../img/icon/arrow_down.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.filter__block {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	border-bottom: 1px solid #e2e2e2;
}
.filter__block-title {
	font-size: 18px;
	color: #767676;
	font-weight: 300;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.filter__block-amount-label {}

.filter__list {
	display: block;
	padding: 0;
	list-style: none;
	margin: 0 auto;
	> li {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}
.filter__list--2-col {
	overflow: hidden;
	> li {
		width: 50%;
		float: left;
		padding-right: 5px;
		&:nth-child(2n+1) {
			clear: left;
		}
	}

}
.tsr-slider {}
.tsr-slider__input-wrapper {
	font-size: 14px;
	color: #000;
}
.tsr-slider__input {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	padding: 0 5px;
	height: 30px;
	width: 65px;
	line-height: 30px;
	border: 1px solid #bdbdbd;
	background: #fff;
	outline: 0;
}
.tsr-slider__slider-wrapper {
	padding: 20px 0;
	.ui-slider-horizontal .ui-slider-handle {
		top: -8px;
	}
	.ui-state-default, .ui-widget-content .ui-state-default {
		border: 1px solid #f8d33e;
		background: #f8d33e;
	}
	.ui-widget-content {
		border: 0;
    background: #eeeeee;
    color: #333;
	}
	.ui-widget-header {
		background: #f8d33e;
	}
	.ui-slider-horizontal {
		height: 2px;
	}
}
.tsr-slider__submit-btn {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	padding: 0 20px;
	border: 0;
	outline: 0;
	transition: all .2s;
	text-transform: uppercase;
	background: transparent;
	appearance: none;
	border: 2px solid #f8d33e;
	background: #f8d33e;
	font-weight: 400;
	&:hover,
	&:active {
		color: #f8d33e;
		background: transparent;
	}
}

/* 992px */
@media only screen and (max-width: 992px) {
	.filter {
		max-width: 600px;
	}
	.filter__title {
		cursor: pointer;
		&:after {
			display: inline-block;
		}
	}
	.filter__inner {
		display: none;
	}
}
/* 992px end*/

/* filters.scss end */