/* form-styles.scss */

input.tsr-forms {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	outline: 0;
	border: 1px solid #d8d8d8;
	padding: 10px 20px;
	font-weight: 300;
	font-size: 18px;
	color: #767676;
	text-align: left;
	appearance: none;
	transition: border .2s;
	&:focus {
		border: 1px solid $color-1;
	}
	&--quantity {
		padding: 10px 5px;
		text-align: center;
		margin-bottom: 0;
		font-size: 20px;
	}
	&::-webkit-input-placeholder {
		color: #767676;
	}
	&::-moz-placeholder {
		color: #767676;
	}
	/* Firefox 19+ */
	&:-moz-placeholder {
		color: #767676;
	}
	/* Firefox 18- */
	&:-ms-input-placeholder {
		color: #767676;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

textarea.tsr-forms {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	outline: 0;
	border: 1px solid #d8d8d8;
	padding: 10px 20px;
	font-size: 18px;
	color: #767676;
	text-align: left;
	appearance: none;
	font-weight: 300;
	transition: border .2s;
	&:focus {
		border: 1px solid $color-1;
	}
	&::-webkit-input-placeholder {
		color: #767676;
	}
	&::-moz-placeholder {
		color: #767676;
	}
	/* Firefox 19+ */
	&:-moz-placeholder {
		color: #767676;
	}
	/* Firefox 18- */
	&:-ms-input-placeholder {
		color: #767676;
	}
}

.tsr-quantity-forms {
	display: inline-block;
	width: 100px;
	position: relative;
	padding-right: 40px;
}

.tsr-quantity-forms__inc,
.tsr-quantity-forms__dec {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 0px;
	top: 50%;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	&:hover {
		opacity: .5;
	}
}

.tsr-quantity-forms__inc {
	background-image: url(../img/icon/arrow_up.svg);
	transform: translateY(-28px);
}

.tsr-quantity-forms__dec {
	background-image: url(../img/icon/arrow_down.svg);
	transform: translateY(3px);
}

.tsr-quantity-forms--vertical {
	padding: 20px 0;
	width: 60px;
	.tsr-quantity-forms__inc,
	.tsr-quantity-forms__dec {
		right: 50%;
		transform: translateX(50%);
	}
	.tsr-quantity-forms__inc {
		background-image: url(../img/icon/arrow_up.svg);
		top: -2px;
	}
	.tsr-quantity-forms__dec {
		background-image: url(../img/icon/arrow_down.svg);
		top: auto;
		bottom: -2px;
	}
}
.tsr-quantity-forms--fast-view {
	padding: 25px 0;
	width: 60px;
	.tsr-forms--quantity {
		background: transparent;
		color: #bfbfbf;
		border-color: #bfbfbf;
	}
}
.jq-selectbox li.selected,
.jq-selectbox li:hover {
	background: $color-1;
	color: #fff;
}

.tsr-select {
	width: 100%;
	font-size: 20px;
	color: #767676;
	font-weight: 300;
	text-align: left;
	.jq-selectbox {
		width: 100%;
	}
	.jq-selectbox__select {
		border-radius: 0;
		border: 1px solid #d8d8d8;
		background: #fff;
		font-size: 20px;
		color: #767676;
		font-weight: 300;
		height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		box-shadow: 0 0 0;
		font-family: $font-stack;
		&:hover {
			background: #fff;
			border: 1px solid $color-1;
		}
	}
	.jq-selectbox__dropdown {
		border-radius: 0;
		border: 1px solid #d8d8d8;
		background: #fff;
		font-size: 20px;
		color: #767676;
		font-weight: 300;
		font-family: $font-stack;
	}
	.jq-selectbox ul {}
	.jq-selectbox li {
		padding: 8px 10px 6px;
	}
	.jq-selectbox li.selected,
	.jq-selectbox li:hover {
		background: $color-1;
		color: #fff;
	}
	.jq-selectbox__trigger {
		border: 0;
	}
	.jq-selectbox__trigger-arrow {
		width: 25px;
		height: 25px;
		border: 0;
		background-image: url(../img/icon/arrow_down.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;
		top: 50%;
		transform: translateY(-50%);
		right: 5px;
	}
}

.jq-selectbox li.disabled.selected,
.jq-selectbox li.disabled:hover {
	background: #fff !important;
	color: #767676 !important;
}

.file-input {
	display: inline-block;
	> input[type="file"] {
		visibility: hidden;
		position: absolute;
		left: -999999;
	}
}

.file-input__label {
	display: block;
	width: 80px;
	height: 80px;
	border: 1px solid #d8d8d8;
	border-radius: 50%;
	background-image: url(../img/icon/file-input-bg.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


/* form-rating */

.form-rating {
	display: block;
	padding: 5px 0;
	.form-rating__label {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		font-size: 18px;
		color: #767676;
		font-weight: 300;
	}
	.rating-symbol {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		margin: 0 1px;
		cursor: pointer;
	}
	.rating-symbol-background {
		color: #767676;
	}
	.rating-symbol-foreground {
		color: #ffd015;
	}
}


/* form-rating end */

.tsr-checkbox {
	display: block;
	width: 100%;
	padding: 4px 0;
	> input[type="checkbox"] {
		display: none;
	}
	> p {
		display: inline-block;
		vertical-align: middle;
		padding-left: 30px;
		position: relative;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.2;
		color: #000;
		transition: color .2s;
		&:hover {
			color: $color-1;
		}
		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 22px;
			height: 22px;
			border: 1px solid #bdbdbd;
			background-color: transparent;
			background-position: center;
			background-size: auto;
			background-repeat: no-repeat;
		}
	}
	> input[type="checkbox"]:checked + p:before {
		background-image: url(../img/icon/checkbox-label.png);
	}
}

.tsr-checkbox__amount {
	color: #a9a9a9;
}

.tsr-checkbox--register-form {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin-right: 30px;
	margin-bottom: 20px;
	> p {
		font-size: 16px;
		color: #767676;
		text-transform: uppercase;
		font-weight: 300;
	}
}

.tsr-checkbox--checkout-form {}


/* form-styles.scss end*/