/* gift.scss */
.gift {
	display: block;
	position: relative;
	max-width: 820px;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 1px solid #ebebeb;
	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 2%;
		right: 2%;
		bottom: 0;
		height: 10px;
		background: transparent;
		z-index: 1;
		box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
	}
}
.gift__header {
	display: block;
	position: relative;
	min-height: 250px;
	background: #393837;
	padding: 40px 30px 25px 230px;
	text-align: right;
}
.gift__header-logo {
	display: inline-block;
	width: auto;
	max-width: 90%;
	height: auto;
	margin-bottom: 40px;
}
.gift__header-text {
	color: #cacaca;
	font-size: 18px;
	line-height: 1.4;
}
.gift__strip {
	display: block;
	width: 245px;
	height: auto;
	position: absolute;
	top: -7px;
	left: -25px;
	z-index: 3;
}

.gift__content {
	position: relative;
	padding: 30px;
	padding-top: 40px;
	background-color: #fff;
	background-image: url(../img/bg/gift-bg.jpg);
	background-repeat: repeat;
	z-index: 2;
}
.gift__prod-img {
	display: block;
	width: 100%;
	max-width: 280px;
	border: 1px solid #b9992b;	
	margin-bottom: 20px;
}
.gift__info {
	position: relative;
	padding-left: 95px;
	margin-bottom: 35px;
}
.gift__label {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 95px;
	padding-right: 15px;
	text-align: right;
	color: #767676;
	font-size: 18px;
	text-transform: uppercase;
}
.gift__input {

	> input {
		display: block;
		width: 100%;
		padding: 0 10px;
		margin-bottom: 10px;
		color: #767676;
		font-size: 18px;
		line-height: 1;
		height: 20px;
		background: transparent;
		border: 0;
		outline: 0;
		appearance: none;
	}
}
.gift__btn-wrapper {
	text-align: right;
	margin-top: 60px;
}
.gift__btn {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	&:last-child {
		margin-left: 40px;
	}
}

/* 767px */
@media only screen and (max-width: 767px) {
	.gift__header {
		padding-left: 100px;
	}
	.gift__strip {
		width: 120px;
		top: -3px;
		left: -12px;
		
	}
	.gift__prod-img,
	.gift__info,
	.gift__btn-wrapper {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {
	.gift__header {
		padding: 20px;
		text-align: center;
	}
	.gift__strip {
		display: none;
	}
	.gift__prod-img,
	.gift__info,
	.gift__btn-wrapper {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
}
/* 480px end */
/* gift.scss end */