/* help-contact.scss */
.section--help-contact {
	padding: 65px 0;
	background: #fff;
}
.help-contact {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.help-contact--product {
	text-align: left;
	margin-bottom: 30px;
	.help-contact__text,
	.help-contact__schedule {
		margin: 0;
		margin-bottom: 20px;
	}
}
.help-contact__title {
	font-size: 30px;
	color: #000;
	font-weight: 100;
	margin-bottom: 45px;
	text-transform: uppercase;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 30px;
		width: 30px;
		background-image: url(../img/icon/help-contact-tiitle-icon.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		margin-right: 20px;
	}
}
.help-contact__text {
	display: inline-block;
	vertical-align: middle;
	max-width: 330px;
	font-size: 16px;
	line-height: 1.5;
	color: #767676;
	text-align: left;
	margin: 0 40px;
	margin-bottom: 20px;

}
.help-contact__schedule {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	font-size: 20px;
	line-height: 1.2;
	color: #767676;
	text-align: left;
	margin: 0 40px;
	margin-bottom: 20px;
}
.help-contact__phone {
	font-size: 26px;
	color: #000;
	font-weight: 300;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.help-contact--prod-page {
	text-align: left;
	.help-contact__text,
	.help-contact__schedule {
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
/* 992px */
@media only screen and (max-width: 992px) {
	.help-contact--product {
		text-align: center;
		.help-contact__text,
		.help-contact__schedule {
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
}
/* 992px end */
/* 767px */
@media only screen and (max-width: 767px) {
	.help-contact__text,
	.help-contact__schedule {
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
	}
}
/* 767px end */


/* help-contact.scss end */