/* img-slider.scss */

.img-slider {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0 50px;
	padding-bottom: 10px;
	text-align: center;
	.slider__btn {
		display: block;
		width: 50px;
		height: auto;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 100;
		text-align: center;
		padding: 10px 5px;
		> i {
			color: #767676;
			font-size: 30px;
			transition: all .2s;
		}
		&:hover,
		&:hover {
			i {
				color: $color-1;
			}
		}
		&.slick-disabled {
			visibility: hidden;
		}
	}
	.slider__btn--prev {
		transform: translateY(-50%);
		left: 0%;
	}
	.slider__btn--next {
		transform: translateY(-50%);
		right: 0%;
	}
}

.img-slider__slide {
	display: block;
	width: 100%;
	height: auto;
	outline: 0;
	a {
		display: block;
		margin: 0 auto;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}


/* img-slider.scss end */