/* info-list.scss */
.info-list {
	
}
.info-list__item {
	display: block;
	margin-bottom: 50px;
}
.info-list__title {
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #000;
}
.info-list__text {
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.5;
	color: #767676;
	text-indent: 40px;
}
.info-list--label {
	.info-list__title {
		position: relative;
		padding-left: 40px;
		&:before {
			content: "";
			display: block;
			width: 30px;
			height: 20px;
			background-image: url(../img/icon/info-list-label.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
/* info-list.scss end */