/* info-block.scss */
.info {
	color: #767676;
	margin-bottom: 40px;
	h2 {
		font-size: 40px;
		text-transform: uppercase;
		margin-bottom: 50px;
		font-weight: 100;
		color: #000;
	}
	p {
		font-size: 14px;
		line-height: 1.7;
		margin-bottom: 20px;
		text-indent: 35px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	figure {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		padding: 0 30px;
		> figcaption {
			font-size: 14px;
			text-align: center;
			font-style: italic;
			line-height: 1.4;
			color: #767676;
			margin-bottom: 20px;
			text-indent: 0;
		}
	}
	.info__img,
	img {
		display: block;
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.info__img--auto {
		width: auto;
	}
}
.info--align-left {
	text-align: left;
}
.info-block {
	display: block;
	margin-bottom: 40px;
}

.info__list {
	margin-bottom: 20px;
	> li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 50px;
		margin-bottom: 20px;
		&:last-child {
			margin-right: 0;
		}
		.social-link,
		h3 {
			display: inline-block;
			vertical-align: middle;
			font-size: 20px;
			font-weight: 300;
			color: #767676;
		}
		h3 {
			margin-right: 20px;
		}
	}
	.social-link__list {
		> li {
			margin: 0 20px;
		}
		> li a {
			display: block;
			color: #d1d1d1;
			font-size: 26px;
			font-weight: 600;
			transition: color .2s;
			&:hover {
				color: #ffcd00;
			}
			i {
				font-size: 26px;
			}
		}
	}
}


@media only screen and (max-width: 767px) {
	.info {
		h2 {
			font-size: 30px
		}
	}
	.info__list {
		text-align: left;
	}
}
@media only screen and (max-width: 480px) {
	.info {
		h2 {
			font-size: 26px
		}
	}
}
/* info-block.scss end */