.toggle-menu {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 100;
	border: none;
	right: 20px;
	top: 10px;
	float: right;
	background-color: transparent;
	outline: none;
	//box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: none;
	z-index: 1001;
	margin: 0 10px;
	transition: all .5s;
}
// btn color {
.sw-bottom,
.sw-footer,
.sw-topper {
	background: #fff;
	
}
.toggle-menu span {
	display: block;
}
.sandwich {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 200;
	&.active {
		.sw-bottom,
		.sw-footer,
		.sw-topper {
			background: #000;
		}
	}
}

.sw-topper {
	position: relative;
	top: 0;
	width: 28px;
	height: 3px;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	display: block;
}
.sw-bottom {
	position: relative;
	width: 28px;
	height: 3px;
	top: 6.6px;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	-webkit-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}

.sw-footer {
	position: relative;
	width: 28px;
	height: 3px;
	top: 13.5px;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
	top: 9px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sandwich.active .sw-bottom {
	top: 6px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}