.our-brends {
	.banner {
		padding: 0 2.5px 0 2.5px;
		background: transparent;
		margin-bottom: 10px;
	}
	.banner--video {
		padding: 0;
	}
	.banner__link {
		display: block;
		outline: none;
		height: 100%;
		> img {
			height: 100%;
			width: auto;
		}
	}
	.banner__play {
		top: 50%;
		transform: translate(-50%, -50%);
		&:hover {
			transform: translate(-50%, -50%) scale(1.1);			
		}
	}
	.banner__title {
		font-size: 40px;
	}
	.slick-slider {
		text-align: center;
		.slick-slide {
			display: inline-block !important;
			float: none;
		}
		.banner--video {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, .4);
				z-index: 2;
				transition: background-color .3s; 
			}
			.banner__content {
				opacity: 0;
				transition: opacity .3s;
			}
		}
		.slick-center.banner--video {
			&:before {
				background-color: rgba(0, 0, 0, .0);
				transition: background-color .3s ease .1s;
			}
			.banner__content {
				opacity: 1;
				transition: opacity .3s ease .1s;
			}
		}
	}
}

.our-brands-slider {
	text-align: center;
	.banner {
		display: inline-block;
		width: auto;
		height: 560px;
		height: 35vw;
	}
}

.our-brands-slider-test {
	.banner__link > img {
		height: auto;
		width: 100%;
		max-width: 100%;
	}
}

.our-brends-slider {
	@extend .clearfix;
	.banner {
		width: 50%;
		float: left;
	}

	.banner.banner--video {
		width: 50%;
		float: left;
	}

	.banner__img-wrapper {
		position: relative;
		padding-bottom: 70%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

	.banner__img-wrapper {
 		padding-bottom: 45%;
 		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
 	}

.our-brends-slider-full {
	@extend .our-brends-slider;
	.banner.banner--video {
		float: none;
		width: 100%;
	}
 	.banner__img-wrapper {
 		padding-bottom: 32%;
 	}
}

@media screen and (max-width: 100em) {
	.our-brends {
		.banner__title {
			font-size: 30px;
		}
	}
}

@media screen and (max-width: 75em) {
	.banner__content-inner {
		text-align: center;
	}
	.our-brends-slider-full {
		
	}
	.our-brends {
		.banner__content {
			top: auto;
			bottom: 0;
			padding: 10px 0;	
			display: block;
			transform: translate(0, 0);
		}
		.banner__play {
			top: 50%;
			transform: translate(-50%, -50%);
		} 
	}
}

@media screen and (max-width: 62em) {

}

@media screen and (max-width: 62em) {
	.our-brends {
		.banner__content-inner {
			padding-right: 15px;
		}
		.banner__title {
			font-size: 24px;
		}
	}

	.our-brands-slider {
		.banner {
			height: 360px;
		}
	}
}

@media screen and (max-width: 48em) {
	.our-brends {
		.banner__title {
			font-size: 22px;
		}
		.banner__content {
			color: #000;
			overflow: hidden;
			padding: 20px;
		}
		.banner__content-inner {
			padding-right: 0;
		}
		.banner__content-inner {
			overflow: auto;
		}
	}

	.our-brands-slider {
		.banner {
			height: 260px;
		}
	}

}

@media screen and (max-width: 30em) {
	.our-brands-slider {
		.banner {
			height: 200px;
		}
	}
}