/* pagination.scss */

.pagination {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
	text-align: center;
}

.pagination--news {
	padding-top: 80px;
}
.pagination--catalog {
	padding: 38px 0;
	text-align: left;
}
.pagination--left {
	text-align: left;
}
.pagination__list {
	display: block;
	padding: 0;
	width: 100%;
	> li {
		display: inline-block;
		vertical-align: baseline;
		padding: 0;
		margin: 0 10px;
		margin-bottom: 10px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		> a {
			font-size: 22px;
			color: #000;
			font-weight: 300;
			text-transform: uppercase;
			transition: all .2s;
			&:hover,
			&:active {
				color: #cca300;
			}
		}
		&.pagination__item--current a {
			color: #cca300;
		}
	}
	.pagination__item--prev,
	.pagination__item--next {
		a {
			font-size: 16px;
			color: #767676;
			border-bottom: 1px solid #767676;
			&:hover,
			&:active {
				color: #cca300;
				border-bottom: 1px solid #cca300;
			}
		}
	}
}

/* 767px */
@media only screen and (max-width: 767px) {
	.pagination--catalog {
		text-align: center;
	}
}
/* 767px end */

/* pagination.scss end */