/* pop-ups.scss */

.pop-up {
	display: block;
	width: 100%;
	max-width: 700px;
	padding: 50px 30px;
	background: #fff;
	position: relative;
	margin: 0 auto;
	color: #767676;
}

.pop-up--dark {
	background: #4c4c4c;
	color: #d7d7d7;
	.pop-up__close-btn.mfp-close {
		> i {
			color: #d7d7d7;
		}
		&:hover,
		&:active {
			> i {
				fill: #ffd014;
			}
		}
	}
}

.pop-up--full-width {
	max-width: 900px;
}

.pop-up__close-btn.mfp-close {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	border: 0;
	outline: 0;
	background: transparent;
	appearance: none;
	> i {
		color: #767676;
		font-size: 30px;
		transition: all .2s;
	}
	&:hover,
	&:hover {
		i {
			color: $color-1;
		}
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.pop-up__title {
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 300;
}

.pop-up__content {
	font-family: $font-stack;
	h2,
	h3,
	h4 {
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 300;
	}
	p {
		font-size: 22px;
		margin-bottom: 30px;
		line-height: 1.5;
		font-weight: 300;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.pop-up--fast-view {
	max-width: 900px;
	padding: 20px;
}

.pop-up--registration {
	max-width: 1200px;
	padding: 0;
}

.pop-up--callback-form {
	padding: 40px 35px;
}
.pop-up--in-cart {
	max-width: 700px;
	padding: 40px 35px;
}
.pop-up__brd-title {
	font-size: 30px;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	color: #767676;
	margin-bottom: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e2e2e2;
}

.pop-up__table {
	text-align: left;
	vertical-align: middle;
	background: transparent;
	width: 100%;
	margin-bottom: 10px;
}

.pop-up__table-img {
	vertical-align: middle;
	text-align: center;
	padding: 5px;
	max-width: 130px;
	width: 25%;
	//background: green;
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 120px;
			height: auto;
		}
}
.pop-up__table-info {
	vertical-align: middle;
	padding: 20px 5px;
	max-width: 50%;
	//background: red;
}
.pop-up__table-prod-name {
	display: block;
	color: #000;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 20px;
	text-transform: uppercase;
	
}

.pop-up__table-prod-id {
	font-size: 14px;
	color: #767676;
	
}

.pop-up__table--price {
	vertical-align: middle;
	padding: 20px 5px;
	max-width: 130px;
	max-width: 20%;
	font-size: 25px;
	color: $color-1;
}
.pop-up__table--price-currency {
	font-size: 80%;
}

.pop-up__btn-wrapper {
	text-align: center;
}

.pop-up__btn-wrap {
	overflow: hidden; /* clearfix */
	> .link-btn,
	> .tsr-checkbox {
		margin: 10px 0;
	}
	> .tsr-checkbox {
		margin-right: 30px;
	}
}
.pop-up--policy {
	padding: 40px 35px;
	max-width: 1200px;
	.pop-up__brd-title {
		text-align: left;
	}
}
.pop-up__policy-text {
	padding: 10px 0;
	p {
		color: #767676;
		font-size: 16px;
		text-indent: 40px;
		line-height: 1.5;
		margin-bottom: 0;
	}
}
/* 768px */
@media only screen and (min-width: 768px) {
	.sm-f-left {
		float: left;
	}
	.sm-f-right {
		float: right;
	}
}
/* 768px end */
/* 992px */
@media only screen and (max-width: 992px) {
	
	.pop-up__btn-wrap.row {
		text-align: center;
		.tsr-checkbox--register-form {
			margin: 10px 20px;
			float: none;
			clear: both;
		}
		.submit-btn {
			float: none;
			margin: 10px 0;
		}
	}
}
/* 992px end */
/* 767px */
@media only screen and (max-width: 767px) {
	.pop-up__brd-title {
		font-size: 22px;
		padding-bottom: 20px;
	}
	.pop-up__table {
		margin-bottom: 0;
	}
	.pop-up__table {
		text-align: center;
		tbody {
			display: block;
			width: 100%;
			max-width: 100%;
			padding: 5px;
			text-align: center;
			margin: 0 auto;
		}
	}
	.pop-up__table-prod-cart {
		display: block;
		width: 100%;
	}
	.pop-up__table-img,
	.pop-up__table-info,
	.pop-up__table-quantity,
	.pop-up__table--price {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 5px;
		text-align: center;
		margin: 0 auto;
	}

	.pop-up__table-img {
		img {
			max-width: 200px;
		}
	}
	
	.pop-up__btn-wrap {
		text-align: center;
		> .link-btn {
			margin: 10px 20px;
		}
	}
}
/* 767px end */
/* pop-ups.scss end*/