/* product-sort.scss */
.product-sort {
	display: block;
	width: 100%;
	text-align: right;
}
.product-sort--bottom {
	padding: 30px 0;
}
.product-sort__item {
	display: inline-block;
	vertical-align: middle;
	margin: 0 50px 10px 30px;
	position: relative;
	font-size: 16px;
	color: #767676;
	text-transform: uppercase;
	border-bottom: 1px solid #767676;
	&:before,
	&:after {
		content: "";
		display: block;
		width: 20px;
		height: 30px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		opacity: .5;
	}
	&:before {
		right: -25px;
		background-image: url(../img/icon/arrow--up.png);
	}
	&:after {
		right: -45px;
		background-image: url(../img/icon/arrow--down.png);
	}
}
.product-sort__item--up:before {
	opacity: 1;
}
.product-sort__item--down:after {
	opacity: 1;
}

.product-sort__on-page-counter {
	vertical-align: middle;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
}
.product-sort__on-page-select {
	display: inline-block;
	width: 120px;
	padding: 0 10px;
	.tsr-select {
		font-size: 18px;
		width: 100%;
	}
}

/* 767px */
@media only screen and (max-width: 767px) {
	.product-sort {
		text-align: center;
	}
	.product-sort__item {
	margin: 0 50px 20px 20px;
	&:before,
	&:after {
		width: 15px;
		height: 25px;
	}
	&:before {
		right: -17px;
	}
	&:after {
		right: -30px;
	}
}
}
/* 767px end */
/* product-sort.scss end */