/* product-grid.scss */


/* section--product-grid */

.section--product-grid {
	padding-top: 60px;
	padding-bottom: 90px;
	text-align: center;
}

.section--product-grid-popular {
	background: #383736;
}

.section--product-grid-new {
	.product-grid__item {
		border: 1px solid #e5e5e5;
	}
}

.section--product-grid-new {
	background: #ffffff;
}

.section-title--popular-prod {
	margin-bottom: 50px;
	color: $color-1;
}

.section-title--new-prod {
	margin-bottom: 50px;
	color: #000;
}

.product-grid {
	margin-bottom: 125px;
}

.product-grid__cell {
	padding: 5px;
}

.product-grid__item {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
	&:hover {
		.product-grid__overlay {
			opacity: 1;
			pointer-events: auto;
			//transform: translateY(0%);
		}
	}
}

.product-grid__img {
	display: block;
	width: 100%;
	height: auto;
}

.product-grid__overlay {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 70px 30px 20px 30px;
	opacity: 0;
	pointer-events: none;
	//transform: translateY(100%);
	transition: all .4s ease-out;
	z-index: 10;
}

.product-grid__icon {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 25px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all .2s;
	outline: 0;
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		transform: scale(1.06) translateY(-2px);
		opacity: .9;
	}
	&.product-grid__icon--favorite {
		left: 25px;
		background-image: url(../img/icon/heart-icon.png);
	}
	&.product-grid__icon--in-cart {
		right: 25px;
		background-image: url(../img/icon/box-out-icon.png);
	}
}

.product-grid__content {
	display: block;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	max-height: 100%;
	text-align: center;
}

.product-grid__name {
	font-size: 22px;
	font-weight: 300;
	color: #fff;
	line-height: normal;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.product-grid__article {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: normal;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.product-grid__desc {
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 12px;
	text-transform: none;
}

.product-grid__desc--brand-text {
	font-size: 14px;
	text-align: left;
	color: #d7d7d7;
	line-height: 1.4;
	margin-bottom: 30px;
}

.product-grid__price {
	font-size: 30px;
	font-weight: 300;
	color: $color-1;
	line-height: 1;
	margin-bottom: 10px;
	text-transform: none;
	small {
		font-size: 24px;
	}
}

.product-grid__btn {
	font-size: 18px;
	color: #fff !important; 
	/* !important ui-widget style fix */
	&:hover,
	&:active {
		color: $color-1 !important;
		/* !important ui-widget style fix */
	}
}

.product-grid__label-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
}

.product-grid__label {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: -3px;
}


/* .product-grid__label:first-child {
	top: 0;
} */

.product-grid__label:nth-child(1) {
	z-index: 4;
	//margin-bottom: 0;
}

.product-grid__label:nth-child(2) {
	z-index: 3;
}

.product-grid__label:nth-child(3) {
	z-index: 2;
}

.product-grid__label:nth-child(4) {
	z-index: 1;
}

.product-grid__bottom-content {
	padding: 10px;
	overflow: hidden;
	position: relative;
}

.product-grid__name--bottom-content {
	color: #000;
	text-align: left;
}

.product-grid__price--new {
	float: left;
	margin: 0 10px 10px 0;
}

.product-grid__price--old {
	float: left;
	margin: 0 10px 10px 0;
	color: #b2b2b2;
	position: relative;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #b2b2b2;
		position: absolute;
		left: 0;
		top: 50%;
	}
}

.product-grid--category {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
	.product-grid__img {
		border: 1px solid #e5e5e5;
	}
	.product-grid__overlay {
		padding-bottom: 140px;
	}
	.product-grid__item:hover {
		.product-grid__bottom-content {
			z-index: 11;
		}
		.product-grid__name--bottom-content {
			color: #fff;
		}
	}
}

//
.product-grid--slider {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0;
	padding-bottom: 10px;
	text-align: center;
}

.product-grid-slider__btn {
	display: block;
	position: absolute;
	top: 50%;
	background-color: transparent;
	border: 0;
	outline: 0;
	z-index: 100;
	text-align: center;
	padding: 10px 5px;
	> i {
		color: #767676;
		font-size: 40px;
		transition: all .2s;
	}
	&:hover,
	&:hover {
		i {
			color: $color-1;
		}
	}
	&.slick-disabled {
		visibility: hidden;
	}
}

.product-grid-slider__btn--prev {
	transform: translateY(-50%) translateX(-70px);
	left: 0%;
}

.product-grid-slider__btn--next {
	transform: translateY(-50%) translateX(70px);
	right: 0%;
}

//
.product-grid--banner {
	.product-grid__overlay {
		padding: 20px 30px;
	}
}

.section--brands {
	> .container-fluid {
		max-width: 1500px;
	}
}


/* 1400px */

@media only screen and (max-width: 1400px) {
	.product-grid--slider {
		padding: 0 40px;
		margin-bottom: 30px;
	}
	.product-grid-slider__btn--prev {
		transform: translateY(-50%);
	}
	.product-grid-slider__btn--next {
		transform: translateY(-50%);
	}
}


/* 1400px end*/


/* 1024px */

@media only screen and (max-width: 1024px) {}


/* 1024px end*/


/* 992px */

@media only screen and (max-width: 992px) {}


/* 992px end*/


/* 767px */

@media only screen and (max-width: 767px) {
	.product-grid__overlay {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0%);
		position: static;
		background: #fff;
	}
	.product-grid__name,
	.product-grid__article,
	.product-grid__desc,
	.product-grid__desc--brand-text {
		color: #737373 !important; /* rewrite hover rules */
	}
	.product-grid__btn {
		color: #fff !important;
	}
	.section--brands {
		.product-grid__overlay {
			padding-top: 10px;
		}
	}
}


/* 767px end */


/* 480px */

@media only screen and (max-width: 480px) {}


/* 480px end */


/* 320px */

@media only screen and (max-width: 320px) {}


/* 320px end */


/* section--product-grid end*/


/* product-grid.scss end */