/* product-slider.scss */

.product-slider {
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
}

.prod-slider__gallery {
	float: left;
	width: 20%;
}

.prod-slider__image {
	float: left;
	width: 80%;
	position: relative;
}

.prod-image-slider {
	position: relative;
	.slider__btn {
		display: block;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 100;
		text-align: center;
		padding: 10px 5px;
		opacity: 0;
		transition: opacity .2s;
		> i {
			color: #767676;
			font-size: 40px;
			transition: all .2s;
		}
		&:hover,
		&:hover {
			i {
				color: $color-1;
			}
		}
		&.slick-disabled {
			visibility: hidden;
		}
		&.slider__btn--prev {
			transform: translateY(-50%);
			left: 0;
		}
		&.slider__btn--next {
			transform: translateY(-50%);
			right: 0;
		}
	}
	&:hover .slider__btn {
		opacity: 1;
	}
}

.prod-slider__label-wrapper {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 70px;
	z-index: 1;
}

.prod-slider__label {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: -3px;
}

.prod-gallery-slider__slide,
.prod-image-slider__slide {
	display: block;
	width: 100%;
	padding: 10px;
}

.prod-slider__slide-inner {
	display: block;
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
	/* default img */
	background-image: url(../img/i/prod-img-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	> img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid transparent;
		background: rgba(0, 0, 0, 0.1);
		transition: opacity .2s;
	}
}

.prod-gallery-slider__slide {
	position: relative;
	padding: 10px;
	&.slick-current {
		.prod-slider__slide-inner:after {
			border: 1px solid #ffcc00;
			background: rgba(0, 0, 0, 0);
		}
	}
}

.prod-image-slider__slide {
	> img {
		display: block;
		width: auto;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
}

.product-slider--showroom {
	.prod-slider__image {
		top: 11px;
	}
	.prod-image-slider__slide {
		padding: 0;
	}
	.prod-gallery-slider__slide {
		opacity: .5;
		&:after {
			background: transparent;
		}
		&.slick-current {
			opacity: 1;
		}
	}
}


/* 767px */

@media only screen and (max-width: 767px) {
	.prod-slider__gallery,
	.prod-slider__image {
		float: none;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.product-slider--showroom {
		.prod-slider__image {
			top: -10px;
		}
		.prod-image-slider__slide {
			padding: 10px;
		}
	}
	.prod-image-slider {
	.slider__btn {
		opacity: 1;
		}
	}
}


/* 767px end */


/* product-slider.scss end */