/* product-info.scss */
.prod-info {
	text-align: left;
}
.prod-info__title {
	display: block;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 30px;
}
.prod-info__list {
	display: block;
	padding: 0;
	margin: 0 auto;
}
.prod-info__list-item {
	display: block;
	overflow: hidden;
	padding: 5px 0;
}
.prod-info__list-item--id {
	margin-bottom: 10px;
}
.prod-info__list-item--in-stock {
	margin-top: 10px;
	margin-bottom: 10px;
}

.prod-info__name {
	display: block;
	float: left;
	width: 35%;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	color: #767676;
	
}
.prod-info__value {
	display: block;
	float: left;
	width: 65%;
	font-size: 14px;
	font-weight: 300;
	color: #000;
	position: relative;
	padding-left: 35px;
	&:before {
		content: "";
		display: block;
		width: 22px;
		height: 22px;
		border-radius: 3px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		position: absolute;
		top: -5px;
		left: 4px;
	}
}
.prod-info__value--gold-label:before {
	background: url(../img/icon/gold-label.png);
}
.prod-info__value--silver-label:before {
		background: url(../img/icon/silver-label.png);
}
.prod-info__value--in-stock-label {
	&:before {
		background: url(../img/icon/in-stock-label.png);
		width: 30px;
		left: -5px;
	}
}

.prod-option {
	text-align: left;
	padding: 5px 0;
	margin-bottom: 10px;
}
.prod-option__label {
	display: inline-block;
	vertical-align: middle;
	width: 30%;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	color: #767676;
	
}
.prod-option__input {
	display: inline-block;
	vertical-align: middle;
	width: 65%;
	max-width: 300px;
}

.prod-info__price {
	display: inline-block;
	vertical-align: bottom;
	padding-right: 40px;
}
.prod-info__old-price {
	display: block;
	position: relative;
	font-size: 40px;
	font-weight: 100;
	color: #bbbbbb;
	margin-bottom: 20px;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #bbb;
		position: absolute;
		left: 0;
		top: 50%;
	}
}
.prod-info__new-price {
	display: block;
	position: relative;
	font-size: 40px;
	font-weight: 100;
	color: #cca300;
	margin-bottom: 20px;
}
prod-info__price-currency {
	font-size: 75%;
}
.prod-info__byu-btn-wrapper {
	display: inline-block;
	vertical-align: bottom;
}
.prod-info__byu-btn {
		margin-bottom: 20px;
}
.label-btn--gift,
.label-btn--watch {
	margin-bottom: 20px;
}
.label-btn--watch {
	margin-right: 30px;
	
}
.prod-info__block {
	margin-bottom: 10px;
}

/* 992px */
@media only screen and (max-width: 992px) {
	.product-cart__info {
		padding-left: 15px;
		//max-width: 600px;
		margin: 0 auto;
	}
	.prod-info__title {
		display: none;
	}
}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {

}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {

}
/* 480px end */
/* product-info.scss end */