/* registration.scss */

.registration {
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}

.registration__banner {
	width: 55%;
	background-image: url(../img/i/registration-banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;
}

.registration__banner-logo {
	align-self: flex-start;
	margin: 50px;
	width: 200px;
	height: auto;
	max-width: 100%;
}

.registration__banner-list {
	align-self: flex-start;
	width: 100%;
	max-width: 400px;
	padding: 25px 60px;
	background: rgba(0, 0, 0, 0.8);
	li {
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: #fff;
		position: relative;
		padding-left: 40px;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			content: "";
			display: block;
			width: 30px;
			height: 20px;
			background-image: url(../img/icon/info-list-label.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.registration__banner-link {
	align-self: flex-start;
	margin: 60px;
}

.registration__form {
	width: 45%;
	padding: 40px;
}

.registration__title {
	display: block;
	font-size: 30px;
	color: #000;
	font-weight: 100;
	text-transform: uppercase;
	padding-right: 40px;
	margin-bottom: 20px;
	padding-bottom: 35px;
	border-bottom: 1px solid #e2e2e2;
}

.registration__form-block {
	display: block;
	margin-bottom: 15px;
	> input.tsr-forms,
	> .tsr-select {
		margin-bottom: 15px;
	}
	> .submit-btn {
		margin-bottom: 0;
	}
}


/* 767px */

@media only screen and (max-width: 767px) {
	.registration {
		flex-direction: column;
		justify-content: flex-start;
	}
	.registration__banner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: space-between;
	}
	.registration__form {
		width: 100%;
		padding: 40px;
	}
	.pop-up--registration .pop-up__close-btn.mfp-close {
		opacity: 1;
		background: rgba(0, 0, 0, 0.3);
		padding: 5px;
		> i {
			color: #fff;
		}
	}
}


/* 767px end */


/* 480px */

@media only screen and (max-width: 480px) {
	.registration__title {
		font-weight: 25px;
	}
	.registration__banner-list {
		padding: 25px;
	}
	.registration__banner-logo,
	.registration__banner-link {
		margin: 40px 25px;
	}
}


/* 480px end */


/* registration.scss end */