/* register-form.scss */
.register-form {
	display: block;
	margin: 0 auto;
	max-width: 1120px;
}
.register-form__title {
	text-align: center;
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 40px;
}
.register-form__block {
	display: block;
	margin-bottom: 20px;
}
.register-form__left-col {
	text-align: left;
	padding-right: 100px;
	margin-bottom: 40px;
	input,
	.tsr-select {
		margin-bottom: 15px;
	}
}
.register-form__right-col {
	text-align: right;
	padding-left: 100px;
	margin-bottom: 15px;
	input,
	.tsr-select {
		margin-bottom: 20px;
	}
}

/* 992px */
@media only screen and (max-width: 992px) {
	.register-form__left-col,
	.register-form__right-col {
		overflow: hidden;
		padding: 0 15px;
		margin-bottom: 0px;
	}
}
/* 992px end*/
/* register-form.scss end */