/* reviews.scss */
.reviews {}
.reviews__item {
	display: block;
	position: relative;
	min-height: 100px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	border-bottom: 2px solid #dedede;
	font-weight: 300;
}
.reviews__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	//border: 2px solid #dedede;
}
.reviews__title {
	display: block;
	padding-right: 120px;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 15px;
	
}
.reviews__text {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 0px;
	color: #767676;
}
.reviews__time {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	color: #cca300;
	text-transform: none;
}
.reviews__rating {
	display: block;
	margin-bottom: 15px;
	i {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		margin: 0 1px;
		color: #767676;
	}
}

@for $i from 0 through 5 {
	.reviews__rating--#{$i} {
		i:nth-child(-n+#{$i}) {
			color: #ffd015;
		}
	}
}
/* 480px */
@media only screen and (max-width: 480px) {
	.reviews__time {
		display: block;
		position: relative;
		margin-bottom: 20px;
	}
}
/* 480px end */
/* reviews.scss end */