/* review-form.scss */
.review-form {
	display: block;
	textarea,
	input,
	button {
		font-family: $font-stack;
	}
}
.review-form--review {
	padding-left: 100px;
	position: relative;
	.file-input {
		position: absolute;
		left: 0;
		top: 0;
	}
	.form-rating {
		margin-bottom: 20px;
		padding: 0;
	}
	textarea.tsr-forms {
		min-height: 120px;
	}
	
}
.review-form--email {
	textarea.tsr-forms {
		min-height: 192px;
	}
}
.review-form--complaint {
	textarea.tsr-forms {
		min-height: 120px;
	}
}

/* 480px */
@media only screen and (max-width: 480px) {
	.review-form--review {
		padding-left: 0;
		position: relative;
		text-align: center;
		.file-input {
			position: relative;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
}
/* 480px end */
/* review-form.scss end */