/* review-tabs.scss */
.review-tabs {
	font-family: $font-stack;
	.ui-corner-all {
		border-radius: 0;
	}
	&.ui-widget-content {
    border: 0;
    background: transparent;
    color: #000;
	}
	&.ui-tabs {
		.ui-tabs-nav {
			display: block;
			width: 100%;
			padding: 40px 0;
			text-align: center;
			li {
				display: inline-block;
				vertical-align: middle;
				border: 0;
   			background: transparent;
				float: none;
				margin: 0 20px;
				color: #ddd;
				font-weight: 100;
				
				&:hover,
				&.ui-tabs-active {
					color: #000;
				}
				a {
					padding: 0;
					margin: 0;
					font-weight: 100;
					font-size: 26px;
					color: #ddd;
					text-transform: uppercase;
					border-bottom: 1px solid #ddd;
					cursor: pointer;
					outline: 0;
					float: none;
				}
				&:hover a,
				&.ui-tabs-active a {
					color: #000;
				}
			}
		}
	}
	.ui-widget-header {
		border: 0;
		font-weight: 100;
		background: transparent;
		color: #bbbbbb;
	}
}

/* 1200px */
@media only screen and (max-width: 1200px) {
	.review-tabs.ui-tabs .ui-tabs-nav li a {
		font-size: 22px;
	}
}
/* 1200px end*/
/* 992px */
@media only screen and (max-width: 992px) {
	.review-tabs.ui-tabs .ui-tabs-nav li a {
		font-size: 17px;
	}
}
/* 992px end*/
/* 767px */
@media only screen and (max-width: 767px) {
	.review-tabs.ui-tabs .ui-tabs-nav li {
		display: block;
		text-align: center;
		margin-bottom: 10px;
		a {
			display: inline-block;
			font-size: 18px;
			float: none;
		}
	}
}
/* 767px end */
/* review-tabs.scss end */