/* section--news.scss */

.section--news {
	padding: 100px 0;
}

.news-list {}

.news-list__item {
	margin-bottom: 60px;
}

.news-list__img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.news-list__content {
	text-align: left;
	padding-left: 30px;
}

.news-list__title {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 300;
}

.news-list__text {
	font-size: 14px;
	line-height: 1.7;
	color: #767676;
	margin-bottom: 20px;
	text-indent: 35px;
}

.news-list__btn {
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: underline;
	color: #767676;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
	}
}

.news-post {
	p {
		font-size: 14px;
		line-height: 1.7;
		color: #767676;
		margin-bottom: 20px;
		text-indent: 35px;
	}
	figure {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		padding: 0 30px;
		> figcaption {
			font-size: 14px;
			text-align: center;
			font-style: italic;
			line-height: 1.4;
			color: #767676;
			margin-bottom: 20px;
			text-indent: 0;
		}
	}
	img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
}

.news__btn-wrapper {
	text-align: center;
	padding-top: 70px;
}


/* 767px */

@media only screen and (max-width: 767px) {
	.section--news {
		padding: 60px 0;
	}
	.news-list__item {
		margin-bottom: 40px;
	}
	.news-list__img {
		margin-bottom: 20px;
	}
	.news-list__text {
		line-height: 1.5;
		text-indent: 20px;
	}
	.news-post {
		p {
			line-height: 1.5;
			text-indent: 20px;
		}
		figure {
			padding: 0 10px;
		}
	}
	.news-post__btn-wrapper {
		padding-top: 30px;
	}
}


/* 767px end */


/* section--news.scss end */