/* section--about-us.scss */
.section--about-us {
	padding-top: 80px;
	padding-bottom: 100px;
}
.section-title--about-us {
	text-align: left;
	margin-bottom: 40px;
}
.about-us {
	
}
.about-us__img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.about-us__text {
	font-size: 14px;
	line-height: 1.7;
	color: #767676;
	margin-bottom: 0px;
	text-indent: 35px;
}
.sm-pull-right {
	float: right;
}
/* 767px */
@media only screen and (max-width: 767px) {
	.about-us__img {
		margin-bottom: 20px;
	}
	.sm-pull-right {
		float: none;
	}
	.section-title--about-us {
		text-align: center;
	}
}
/* 767px end */

/* section--about-us.scss end */