/* .section-title */
.section-title {
	font-size: 40px;
	font-weight: 100;
	color: #000;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 50px;
	position: relative;
	text-transform: uppercase;
}
.section-title--left {
	text-align: left;
}
.section-title--grey {
	color: #767676;
}

@media only screen and (max-width: 767px) {
	.section-title {
		font-size: 30px
	}
}
@media only screen and (max-width: 480px) {
	.section-title {
		font-size: 26px
	}
}
/* .section-title end */