/* section--banner-slider.scss */

.section--banner-slider {
	
}
.banner-slider {
	position: relative;
}
.banner-slider__slide {
	position: relative;
	outline: 0;
}



.banner-slider__btn {
	display: inline-block;
	position: absolute;
	top: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	z-index: 100;
	text-align: center;
	width: 80px;
	height: auto;
	padding: 10px 5px;
	> i {
		color: #fff;
		font-size: 50px;
		transition: all .2s;
	}
	&:hover,
	&:hover {
		i {
			color: $color-1;
		}
	}
	&.slick-disabled {
		visibility: hidden;
	}
}

.banner-slider__btn--prev {
	transform: translateY(-50%);
	left: 0%;
}

.banner-slider__btn--next {
	transform: translateY(-50%);
	right: 0%;
}


/* 1200px */
@media only screen and (max-width: 1200px) {

}
/* 1200px end*/

/* 1024px */
@media only screen and (max-width: 1024px) {

}
/* 1024px end*/

/* 992px */
@media only screen and (max-width: 992px) {

}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {
	.banner-slider__btn {
		width: 50px;
		> i {
			font-size: 30px;
		}
	}
	
}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {

}
/* 480px end */


/* 320px */
@media only screen and (max-width: 320px) {

}
/* 320px end */
/* section--banner-slider.scss end */