/* section--prod-cart.scss */
.section--prod-cart {}
.product-cart {
	
}
.product-cart__desc {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 14px;
	color: #767676;
	padding: 0 10px;
	> p {
		margin-bottom: 20px;
		line-height: 1.5;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.product-cart__info {
	padding-left: 90px;
}

.product-cart__title {
	display: block;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 30px;
	text-align: center;
}
.product-cart__title--mobile-only {
	display: none;
}
.prod-btn-block {
	text-align: left;
	margin-bottom: 30px;
}
/* 992px */
@media only screen and (max-width: 992px) {
	.product-cart__title--mobile-only {
		display: block;
	}
	.prod-btn-block {
		text-align: center;
		margin-bottom: 20px;
	}
}
/* 992px end*/
/* 768px */
@media only screen and (max-width: 768px) {
	.product-cart__desc {
		padding: 0;
	}
}
/* 768px end*/

/* section--prod-cart.scss end */