/* section--mods.scss */
.section--padding {
	padding: 30px 0;
}
.section--padding-top {
	padding-top: 80px;
}

.section--grey-bg {
	background: #f6f6f6;
}
.section--menu-gag {
	height: 60px;
	padding: 0;
	margin: 0;
	z-index: 0;
	pointer-events: none;
}
.section--catalog {
	padding-top: 60px;
	padding-bottom: 90px;
	border-top: 1px solid #e2e2e2;
}
.section--register-form {
	padding: 60px 0;
}
.section-cart-page {
	.section-title {
		margin-bottom: 30px;
	}
}
.section--product-cart {
	padding-bottom: 50px;
}

.section--top-border {
	border-top:  1px solid #e2e2e2;
}
.section--banners-grid {
	padding: 0 40px;
	padding-bottom: 60px
}
.section--actions {
	padding-top: 40px;
	padding-bottom: 60px
}
.section--showroom {

}
.section--brand-slider {
	padding-top: 60px;
	padding-bottom: 30px;
}
.section--gift {
	padding-top: 30px;
	padding-bottom: 60px;
}
/* 1200px */
@media only screen and (max-width: 1200px) {

}
/* 1200px end*/

/* 1024px */
@media only screen and (max-width: 1024px) {
	.section--menu-gag {
		display: none;
	}
}
/* 1024px end*/

/* 992px */
@media only screen and (max-width: 992px) {
	.section--padding {
		padding: 20px 0;
	}
	.section--catalog {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.section--banners-grid {
		padding: 0;
	}
}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {

}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {

}
/* 480px end */


/* 320px */
@media only screen and (max-width: 320px) {

}
/* 320px end */
/* section--mods.scss end */

