/* showroom.scss */
.showroom {

}
.showroom__inner {
	margin: 0 auto;
	max-width: 1060px;
}
.showroom-info {
	margin-bottom: 30px;
}
.showroom-info__title {
	font-size: 24px;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.showroom-info__list {
	display: block;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}
.showroom-info__item {
	display: block;
	margin-bottom: 20px;
	padding: 5px 0;
	padding-left: 50px;
	position: relative;

	color: #767676;
	font-size: 18px;
	text-align: left;
	line-height: 1.5;

	strong {
		color: #000;
		font-weight: 300;
	}

	a,
	p {
		color: #767676;
		font-size: 18px;
		text-align: left;
		line-height: 1.5;
	}

	&:after {
		content: "";
		display: block;
		width: 32px;
		height: 32px;
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}


}
.showroom-info__item--phone:after {
	background-image: url(../img/icon/contact-phone.png);
}
.showroom-info__item--mail:after {
	background-image: url(../img/icon/contact-mail.png);
	top: 1px;
}
.showroom-info__item--time:after {
	background-image: url(../img/icon/contact-time.png);
}
.showroom-info__item--map:after {
	background-image: url(../img/icon/contact-map.png);
}
.showroom-info__btn-wrapp {
	margin-bottom: 40px;
}
.showroom-info__btn {
	font-size: 18px;
	padding: 15px 40px;
	color: #000;

}
.col-sm-push-6 .showroom-info {
	padding-left: 40px;
}


.showroom-map {
	padding: 0;
	margin: 0 auto;
	.map {
		width: 100%;
		height: 560px;
		max-height: 90vh;
	}
}
.contact-form {
	margin-bottom: 40px;
}
.contact-form__title {
	font-size: 30px;
	text-transform: uppercase;
	color: #000;
	font-weight: 100;
	margin-bottom: 40px;
	text-align: center;
}

.ballon {
	display: block;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 20px;
	padding-right: 60px;
	position: relative;
	max-width: 400px;
	min-height: 150px;
	font-weight: 300;
	font-family: $font-stack;
	text-align: left;
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border: 15px solid transparent;
		border-top: 15px solid rgba(0, 0, 0, 0.8);
		position: absolute;
		left: 50%;
		bottom: -30px;
		transform: translateX(-50%);
	}
}
.ballon__close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: auto;
	cursor: pointer;
	> svg {
		display: block;
		width: 100%;
		height: auto;
		path {
			transition: all .2s;
			fill:	#d7d7d7;
			
		}
	}
	&:hover,
	&:active {
		svg path {
			fill: #ffd014;
		}
	}
}
.baloon__address {
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
}
.baloon__time {
	font-size: 18px;
	text-transform: uppercase;
	color: #d7d7d7;
	margin-bottom: 10px;
}

/* 767px */
@media only screen and (max-width: 767px) {
	.showroom-info__btn {
		font-size: 16px;
		padding: 15px 20px;
	}
	.col-sm-push-6 .showroom-info {
		padding-left: 15px;
	}
}
/* 767px end */

/* showroom.scss end */