/* social-link.scss */

.social-link {
	display: block;
	text-align: center;
}
.social-link__list {
	display: block;
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		margin-bottom: 10px;
		a {
			display: block;
			color: #fff;
			transition: all .2s;
			font-size: 20px;
			font-weight: 600;
			i {
				font-size: 20px;
			}
			&:hover,
			&:active {
				color: $color-1;
			}
		}
	}
}
.social-link-title {
	font-size: 28px;
	font-weight: 300;
	color: #cca300;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}
.social-link-title--pre-footer,
.social-link--pre-footer {
	display: inline-block;
	vertical-align: middle;
}
.social-link-title--pre-footer {
	margin-right: 90px;
}
.social-link--pre-footer {
	margin-bottom: 10px;
	li {
		margin: 0 20px;
		a {
			color: #d1d1d1;
			i {
				font-size: 26px;
			}
		}
	}
}

.social-link-title--prod-cart {
	color: #d1d1d1;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.social-link--prod-cart {
	display: inline-block;
	vertical-align: middle;
}
.social-link__list--prod-cart {
	li {
		a {
			color: #d1d1d1;
		}
	}
}
.social-link-title--register-form {
	color: #767676;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.social-link--register-form {
	display: inline-block;
	vertical-align: middle;
}
/* 767px */
@media only screen and (max-width: 767px) {
	.social-link-title--pre-footer, 
	.social-link--pre-footer {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
}
}
/* 767px end */
/* social-link.scss end */