/* subscribe-form.scss */
.section--subscribe-form {
	padding: 40px 0;
	padding-bottom: 20px;
	background: #f6f6f6;
}
.subscribe-form {
	
}
.subscribe-form__text {
	font-size: 18px;
	color: #000;
	position: relative;
	top: 12px;
}
.subscribe-form__form {
	position: relative;
	padding-right: 250px;
}
.subscribe-form__btn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	padding: 12px 35px;
	padding-bottom: 13px;
}

/* 992px */
@media only screen and (max-width: 992px) {
	.subscribe-form__text {
		margin-bottom: 20px;
		top: 0;
		text-align: center;
	}
}
/* 992px end*/
/* 767px */
@media only screen and (max-width: 767px) {
	.subscribe-form__form {
		padding-right: 220px;
	}
}
/* 767px end */
/* 480px */
@media only screen and (max-width: 480px) {
	.subscribe-form {
		text-align: center;
	}
	.subscribe-form__form {
		padding-right: 0;
	}
	.subscribe-form__btn {
		position: relative;
	}
}
/* 480px end */
/* subscribe-form.scss end */