.wrapper {
	transform: translateX(0);
	transition: transform .5s ease-in;
}
.swipe-menu {
	display: block;
	height: 100%;
	width: 300px;
	padding: 20px;
	padding-top: 50px;
	font-size: 16px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(300px);
	transition: all .5s ease-in;
	background: $color-2;
	color: $color-4;
	z-index: 1000;
	overflow: auto;
	
	&.active {
		transform: translateX(0);
	}
}


body.active {
	.header {
		//visibility: hidden;
	}
	.toggle-menu {
		visibility: visible;
		position: fixed;
		top: 10px;
		right: 10px;
	}
	
	
	.swipe-menu {
		transform: translateX(0);
		box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.4);
	}
	.wrapper {
		transform: translateX(-300px);
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.75);
			z-index: 100;
		}
	}
}

/* inner content */

.swipe-menu-logo {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	img {
		display: block;
		width: auto;
		max-width: 100%;
		margin: 0 auto;
	}
}
.swipe-menu__list {
	display: block;
	padding: 10px 0;
	margin: 0 auto;
	margin-bottom: 20px;
	li {
		display: block;
		margin-bottom: 15px;
		text-align: center;
		a {
			display: block;
			color: #000;
			font-weight: 500;
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			position: relative;
			transition: color .2s;
			&:hover,
			&:active {
				color: #cca300;
			}
		}
	}
}


/* inner content end */