@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?7fl184');
    src:    url('fonts/icomoon.eot?7fl184#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?7fl184') format('truetype'),
        url('fonts/icomoon.woff?7fl184') format('woff'),
        url('fonts/icomoon.svg?7fl184#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
    content: "\e900";
}
.icon-arrow_left:before {
    content: "\e901";
}
.icon-arrow_right:before {
    content: "\e902";
}
.icon-arrow_up:before {
    content: "\e903";
}
.icon-close_cross:before {
    content: "\e904";
}
.icon-mobile:before {
    content: "\e958";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-minus:before {
    content: "\ea0b";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-checkmark:before {
    content: "\ea10";
}

