/* footer.scss */

.footer {
	background: #191919;
	padding: 30px 0 45px 0;
}


/* .footer-logo */

.footer-logo {
	width: 13%;
	margin-right: 2%;
	float: left;
}

.footer-logo__logo-img {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: center;
	img {
		display: inline-block;
		width: auto;
		max-width: 100%;
	}
}

.footer-logo__lang {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: center;
	img {
		display: inline-block;
		width: auto;
		max-width: 100%;
	}
}


/* .footer-logo end */

.footer-menu {
	float: right;
	width: 85%;
}

.footer-menu__col {
	display: block;
	width: 11.1111%;
	float: left;
	padding-right: 5px;
	text-align: left;
}

.footer-menu__title {
	display: block;
	font-size: 10px;
	line-height: 14px;
	color: #fff;
	text-decoration: underline;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 15px;
	min-height: 28px;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
	}
}

.footer-menu__list {
	display: block;
	font-size: 13px;
	font-family: $font-stack--cond;
	overflow: hidden;
	max-height: 111px;
	li {
		display: block;
		line-height: 1.4;
		a {
			color: #a4a4a4;
			word-wrap: break-word;
			text-decoration: none;
			transition: all .2s;
			&:hover,
			&:active {
				color: $color-1;
			}
		}
	}
}

.footer__down-arrow {
	display: block;
	width: 30px;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	i {
		font-size: 26px;
		color: $color-3;
		transition: all .2s;
		&:hover,
		&:active {
			color: $color-1;
		}
	}
}

.footer-menu--open {
	.footer-menu__list {
		max-height: none;
	}
	.footer__down-arrow i {
		transform: rotate(180deg);
	}
}

.footer-bottom__left {
	float: left;
	text-align: left;
}

.footer-bottom__right {
	float: right;
	text-align: right;
}

.footer-contact {
	display: inline-block;
	text-align: left;
}

.footer-contact__title {
	display: block;
	font-size: 13px;
	font-weight: 300;
	color: #737373;
	margin-bottom: 10px;
}

.footer-contact__phone {
	font-size: 22px;
	font-weight: 300;
	color: #fff;
	font-family: $font-stack--cond;
}

.social-link--footer {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.social-link__list--footer {
	text-align: right;
	li:last-child {
		margin-right: 0;
	}
}

.footer-pay-system {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
	img {
		width: auto;
		max-width: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}

.footer-copy {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #737373;
	img {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		width: auto;
		max-width: 85px;
	}
}


/* 1200px */

@media only screen and (max-width: 1200px) {}


/* 1200px end*/


/* 1024px */

@media only screen and (max-width: 1024px) {}


/* 1024px end*/


/* 992px */

@media only screen and (max-width: 992px) {
	.footer-logo {
		width: 100%;
		text-align: center;
		float: none;
	}
	.footer-menu {
		float: none;
		width: 100%;
	}
	.footer-pay-system {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
}


/* 992px end*/


/* 767px */

@media only screen and (max-width: 767px) {
	/* footer */
	.footer-menu__col {
		width: 25%;
		margin-bottom: 30px;
		&:nth-child(4n+1) {
			clear: left;
		}
	}
	.footer-bottom__left,
	.footer-bottom__right {
		float: none;
		text-align: center;
	}
	.footer-contact {
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.social-link__list--footer {
		text-align: center;
		li:last-child {
			margin-right: 10px;
		}
	}
	.footer-pay-system {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
	}
	.footer-copy {}
}


/* 767px end */


/* 480px */

@media only screen and (max-width: 480px) {
	/* footer */
	.footer-menu__col {
		width: 50%;
		margin-bottom: 30px;
		&:nth-child(4n+1) {
			clear: none;
		}
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	/* footer end */
}


/* 480px end */


/* 320px */

@media only screen and (max-width: 320px) {
	.footer-menu__col {
		width: 100%;
		margin-bottom: 30px;
		float: none;
		&:nth-child(2n+1) {
			clear: none;
		}
	}
}


/* 320px end */


/* footer.scss end*/