/* header.scss */

.header {
	min-height: 130px;
	background: #000;
	padding: 20px 0;
	padding-bottom: 0;
	text-align: center;
}

.main-logo {
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	img {
		display: inline-block;
		width: auto;
		max-width: 100%;
	}
}


/* .top-menu */

.top-menu {
	display: block;
	width: 100%;
	height: 57px;
	background: rgba(0, 0, 0, 0.3);
	margin-bottom: -57px;
	position: relative;
	padding-top: 20px;
	z-index: 2;
}

.top-menu__list {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.top-menu__item {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
	position: relative;
	padding-bottom: 17px;
	a {
		display: block;
		color: #fff;
		font-weight: 400;
		font-size: 15px;
		line-height: 1.4;
		&:hover,
		&:active {
			color: $color-1;
		}
	}
}
.top-menu__sub-list {
	display: block;
	width: 250px;
	position: absolute;
	top: 37px;
	left: -10px;
	background: rgba(0, 0, 0, 0.3);
	text-align: left;
	padding: 10px 10px;
	//visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transform: translateY(20px);
	transition: all .2s;
}
.top-menu__item:hover .top-menu__sub-list {
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
}
/* .top-menu end */





/* header-link-list */

.header-link-list {
	display: block;
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
		padding-right: 1px;
		margin-bottom: 10px;
		position: relative;
		line-height: 1;
		&:after {
			content: "";
			display: block;
			height: 15px;
			width: 1px;
			background: $color-3;
			position: absolute;
			right: -7px;
			top: 50%;
			transform: translateY(-50%);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		a {
			display: block;
			color: $color-3;
			transition: all .2s;
			font-size: 16px;
			font-weight: 400;
			text-decoration: underline;
			&:hover,
			&:active {
				color: $color-1;
				text-decoration: none;
			}
		}
	}
}
.header-link-list--lang {
	li {
		margin-bottom: 0;
	}
}

/* header-link-list end */


/* .header-left */

.header-left {
	float: left;
	position: relative;
	top: 20px;
}


/* .header-left end */


/* .header-right */

.header-right {
	float: right;
	position: relative;
	top: 15px;
}

.lang-links {
	display: inline-block;
	vertical-align: middle;
}

.header-search {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.header-search__input {
	display: block;
	height: 50px;
	width: 50px;
	position: relative;
	background: rgba(38, 38, 38, 0);
	border: 0;
	outline: 0;
	font-size: 20px;
	font-weight: 300;
	opacity: 0;
	padding: 0;
	transition: all .3s;
	transition-delay: .2s;
	&:focus {
		opacity: 1;
		width: 340px;
		padding: 0 50px 0 20px;
		background: #262626;
		color: $color-3;
	}
	&::-webkit-input-placeholder {
		color: #535353;
	}
	&::-moz-placeholder {
		color: #535353;
	}
	&:-moz-placeholder {
		color: #535353;
	}
	&:-ms-input-placeholder {
		color: #535353;
	}
}

.header-search__label {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	color: $color-3;
	font-size: 20px;
	text-align: center;
	transition: all .2s;
	&:hover,
	&:active {
		color: $color-1;
	}
}

/* .header-right end */

/* 1200px */
@media only screen and (max-width: 1200px) {

	.header {
		min-height: 100px;
		padding: 15px 0;
		padding-bottom: 0;
	}
	.main-logo {
		top: 5px;
		max-width: 200px;
	}
	.header-search__input {
		&:focus {
			width: 240px;
			padding: 0 50px 0 10px;
		}
	}

	.top-menu__item {
		margin: 0 4px;
		a {
			font-size: 13px;
		}
	}

}
/* 1200px end*/

/* 1024px */
@media only screen and (max-width: 1024px) {
	.header {
		min-height: initia;;
		padding: 15px 0;
		padding-bottom: 0;
	}
	.main-logo {
		position: relative;
		left: 0;
		top: 0;
		transform: none;
		width: 100%;
		margin: 0 auto;
		max-width: 200px;
	}
	.header-right,
	.header-left {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.toggle-menu {
		display: block;
	}
	.top-menu {
		display: none;
	}
}
/* 1024px end*/

/* 992px */
@media only screen and (max-width: 992px) {

}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {

}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {

}
/* 480px end */


/* 320px */
@media only screen and (max-width: 320px) {
	.header-phones {
		display: none;
	}
}
/* 320px end */

/* header.scss end */