/* Media Desktop First Method */

/* 1200px */
@media only screen and (max-width: 1200px) {

}
/* 1200px end*/

/* 1024px */
@media only screen and (max-width: 1024px) {

}
/* 1024px end*/

/* 992px */
@media only screen and (max-width: 992px) {

}
/* 992px end*/

/* 767px */
@media only screen and (max-width: 767px) {

}
/* 767px end */

/* 480px */
@media only screen and (max-width: 480px) {

}
/* 480px end */


/* 320px */
@media only screen and (max-width: 320px) {

}
/* 320px end */
/* Media end */