<div id="callback-form" class="pop-up pop-up--callback-form">
	<button title="Close (Esc)" type="button" class="mfp-close pop-up__close-btn" onclick="$.magnificPopup.close();">
		<i class="icon-close_cross"></i>
	</button>
	<div class="callback-form">
			<form action="" class="">
				<h2 class="callback-form__title">Заказать обратный звонок</h2>
				<hr>
				<input type="tel" class="tsr-forms" required placeholder="Ваш номер телефона">
				<hr>
				<button type="submit" class="submit-btn">отправить</button>
			</form>
	</div>
	<!-- callback-form -->
</div>
<!-- callback-form pop-up -->