<div id="prod-fast-view" class="pop-up pop-up--fast-view pop-up--dark">
	<div class="fast-view">
		<span href="#" class="fast-view__icon fast-view__icon--close" onclick="$.magnificPopup.close();"></span>
		<a href="#" class="fast-view__icon fast-view__icon--favorite"></a>
		<div class="row">
			<div class="col-sm-6">
				<div class="product-slider product-slider--fast-view">
					<h1 class="fast-view__title fast-view__title--mobile-only">ЗОЛОТОЕ КОЛЬЦО С ФИАНИТОМ</h1>
					<div class="prod-slider__gallery js-prod-gallery-slider">
						<div class="prod-gallery-slider__slide">
							<img src="img/i/prod-img-1.jpg" alt="">
						</div>
						<div class="prod-gallery-slider__slide">
							<img src="img/i/prod-img-2.jpg" alt="">
						</div>
						<div class="prod-gallery-slider__slide">
							<img src="img/i/prod-img-1.jpg" alt="">
						</div>
						<div class="prod-gallery-slider__slide">
							<img src="img/i/prod-img-2.jpg" alt="">
						</div>
					</div>
					<!-- prod-gallery-slider -->
					<div class="prod-slider__image ">
						<div class="prod-slider__label-wrapper">
							<img src="img/icon/label--new.png" alt="Новинка" class="prod-slider__label">
							<img src="img/icon/label--discount.png" alt="Скидка" class="prod-slider__label">
							<img src="img/icon/label--stock.png" alt="Акция" class="prod-slider__label">
						</div>
						<!-- prod-slider__label-wrapper -->
						<div class="js-prod-image-slider">
							<div class="prod-image-slider__slide">
								<img src="img/i/prod-img-1.jpg" alt="">
							</div>
							<div class="prod-image-slider__slide">
								<img src="img/i/prod-img-2.jpg" alt="">
							</div>
							<div class="prod-image-slider__slide">
								<img src="img/i/prod-img-1.jpg" alt="">
							</div>
							<div class="prod-image-slider__slide">
								<img src="img/i/prod-img-2.jpg" alt="">
							</div>
						</div>
						<!-- js-prod-image-slider -->
					</div>
					<!-- prod-image-slider -->
				</div>
				<!-- product-slider -->
			</div>
			<div class="col-sm-6">
				<h1 class="fast-view__title fast-view__title--desctop-only">Золотое кольцо с фианитом</h1>
				<div class="fast-view__desc">
					<p>Кольцо из красного золота 585 пробы с фианитом выполнено в современном классическом дизайне. Украшение имеет простые формы, поэтому станет гармоничным дополнением ко многим комплектам ювелирных изделий. </p>
				</div>
				<!-- product-cart__desc -->
				<div class="fast-view__block row">
					<div class="col-sm-6">
						<p class="fast-view__id">
							<span class="fast-view__name">Артикул:</span>
							<span class="fast-view__value">1484156</span>
						</p>
					</div>
					<!-- col-sm-6 -->
					<div class="col-sm-6">
						<div class="fast-view__option">
							<label class="fast-view__option-label" for="#prod-size">Кол-во:</label>
							<div class="fast-view__option-input">
								<span class="tsr-quantity-forms tsr-quantity-forms--vertical tsr-quantity-forms--fast-view">
									<input type="text" class="tsr-forms tsr-forms--quantity js-only-numbers" value="1">
									<i class="tsr-quantity-forms__inc"></i>
									<i class="tsr-quantity-forms__dec"></i> 
								</span>
							</div>
							<!-- fast-view__option-input -->
						</div>
						<!-- fast-view__option -->
					</div>
					<!-- col-sm-6 -->
				</div>
				<!-- row fast-view__block -->
				<div class="fast-view__block row">
					<div class=" col-xs-12">
						<div class="fast-view__price">
							<p class="fast-view__old-price">6235 <span class="fast-view__price-currency">грн</span></p>
							<p class="fast-view__new-price">5892 <span class="fast-view__price-currency">грн</span></p>
						</div>
						<!-- fast-view__price -->
						<div class="fast-view__byu-btn-wrapper">
							<a href="#" class="submit-btn fast-view__byu-btn">В корзину</a>
						</div>
						<!-- fast-view__byu-btn -->
					</div>
					<!-- fast-view__block -->
				</div>
				<!-- col -->





			</div>
		</div>
	</div>
	<!-- pop-up__content -->
</div>
<!-- pop-up -->