<div id="in-cart" class="pop-up pop-up--in-cart">
	<button title="Close (Esc)" type="button" class="mfp-close pop-up__close-btn" onclick="$.magnificPopup.close();">
		<i class="icon-close_cross"></i>
	</button>
	
	<h2 class="pop-up__brd-title">Товар добавлен в корзину</h2>
	<table class="pop-up__table">
		<tbody class="pop-up__table-body">
			<tr class="pop-up__table-prod-cart">
				<td class="pop-up__table-img">
					<img src="img/i/prod-img-1.jpg" alt="">
				</td>
				<td class="pop-up__table-info">
					<p class="pop-up__table-prod-name">Золотое кольцо с фианитом</p>
					<p class="pop-up__table-prod-id">
						<span class="pop-up__table-prod-id-text">Артикул:</span> 
						<span class="pop-up__table-prod-id-number">1484156</span>
					</p>
				</td>
				<td class="pop-up__table--price">
					<span class="pop-up__table--price-number">1500</span>
					<span class="pop-up__table--price-currency">грн</span>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<div class="pop-up__btn-wrap">
		<a href="#" class="link-btn sm-f-left">продолжить покупки</a>
		<a href="#" class="submit-btn sm-f-right">перейти В корзину</a> 
	</div><!-- pop-up__btn-wrapper -->
	
	
	
</div>
<!-- callback-form pop-up -->