<div id="in-cart" class="pop-up pop-up--policy">
	<button title="Close (Esc)" type="button" class="mfp-close pop-up__close-btn" onclick="$.magnificPopup.close();">
		<i class="icon-close_cross"></i>
	</button>

	<h2 class="pop-up__brd-title">Товар добавлен в корзину</h2>
	<div class="pop-up__policy-text">
		<p>С другой стороны укрепление и развитие структуры требуют от нас анализа модели развития. Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации форм развития. Повседневная практика показывает, что консультация с широким активом способствует подготовки и реализации модели развития. Задача организации, в особенности же сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации.</p>
		<p>Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Равным образом укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.</p>
		<p>Таким образом укрепление и развитие структуры играет важную роль в формировании дальнейших направлений развития. Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Товарищи! дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.</p>
	</div>
	<!-- pop-up__text -->
	<hr>
	<form action="">
		<div class="pop-up__btn-wrap row">
		<div class="col-md-8">
			<label class="tsr-checkbox tsr-checkbox--register-form">
				<input type="checkbox">
				<p>Я согласен(а) с условиями</p>
			</label>
			<label class="tsr-checkbox tsr-checkbox--register-form">
				<input type="checkbox">
				<p>получать новотную рассылку</p>
			</label> 
		</div><!-- col-md-8 -->
		<div class="col-md-4">
			<button type="submit" class="submit-btn sm-f-right">Присоединиться</button> 
		</div><!-- col-md-4 -->	
			
		</div>
		<!-- pop-up__btn-wrapper -->
	</form>


</div>
<!-- callback-form pop-up -->