.container-fluid {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.container-fluid--full-width {
	max-width: 100%;
}
.container-fluid--1500 {
	max-width: 1500px;
}
.row--small-padding {
	padding: 0 -5px;
	> [class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}