<div class="cart cart--close js-cart">
		<a href="#" class="cart__logo"></a>
		<span class="cart__control-label cart__control-label--close js-cart-open-close-label"></span>
		<div class="cart-title-wrapper">
			<p class="cart-title--open">Корзина</p>
			<p class="cart-title--close">25 товаров
				<br>
				<span class="cart-close__text-quantity">(250500 грн.)</span></p>
		</div>
		<!-- cart-title -->

		<div class="cart-content cart-content--open">
			<div class="cart__table-wrapper js-custom-scrollbar">
				<table class="cart__table">
					<thead class="cart__table-title">
						<tr>
							<th class="cart__table-remove"></th>
							<th class="cart__table-img"></th>
							<th class="cart__table-info">Товар</th>
							<th class="cart__table--price">Цена</th>
						</tr>
					</thead>
					<tbody class="cart__table-body">
						<tr>
							<td class="cart__table-remove">
								<a href="#"><img src="img/icon/close--grey.png" alt="remove product from cart"></a>
							</td>
							<td class="cart__table-img">
								<img src="img/i/prod-img-1.jpg" alt="">
							</td>
							<td class="cart__table-info">
								<p class="cart__table-prod-name">Золотое кольцо с фианитом</p>
								<p class="cart__table-prod-id"><span class="cart__table-prod-id-text">Артикул:</span> <span class="cart__table-prod-id-number">1484156</span></p>
							</td>
							<td class="cart__table--price">
								<span class="cart__table--price-number">1500</span>
								<span class="cart__table--price-currency">грн</span>
							</td>
						</tr>
						<tr>
							<td class="cart__table-remove">
								<a href="#"><img src="img/icon/close--grey.png" alt="remove product from cart"></a>
							</td>
							<td class="cart__table-img">
								<img src="img/i/prod-img-1.jpg" alt="">
							</td>
							<td class="cart__table-info">
								<p class="cart__table-prod-name">Золотое кольцо с фианитом</p>
								<p class="cart__table-prod-id"><span class="cart__table-prod-id-text">Артикул:</span> <span class="cart__table-prod-id-number">1484156</span></p>
							</td>
							<td class="cart__table--price">
								<span class="cart__table--price-number">1500</span>
								<span class="cart__table--price-currency">грн</span>
							</td>
						</tr>
						<tr>
							<td class="cart__table-remove">
								<a href="#"><img src="img/icon/close--grey.png" alt="remove product from cart"></a>
							</td>
							<td class="cart__table-img">
								<img src="img/i/prod-img-1.jpg" alt="">
							</td>
							<td class="cart__table-info">
								<p class="cart__table-prod-name">Золотое кольцо с фианитом</p>
								<p class="cart__table-prod-id"><span class="cart__table-prod-id-text">Артикул:</span> <span class="cart__table-prod-id-number">1484156</span></p>
							</td>
							<td class="cart__table--price">
								<span class="cart__table--price-number">1500</span>
								<span class="cart__table--price-currency">грн</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- cart__table-wrapper -->

		</div>
		<!-- cart-open-content -->
		<div class="cart__bottom">
			<a href="#" class="cart__in-cart-btn bg-btn">перейти в корзину</a>
			<p class="cart__total-price">
				Общая сумма: <span class="cart__total-price-num">3500</span> <span class="cart__total-price-currency">грн</span>
			</p>
		</div>
		<!-- cart__bottom -->
	</div>
	<!-- cart -->