<nav class="category-menu" role="navigation">
				<h2 class="category-menu__mobile-title">Категории <i class="fa fa-plus" aria-hidden="true"></i> </h2>
				<ul class="category-menu__list">
					<li class="category-menu__item"><a href="#">Главная</a></li>
					<li class="category-menu__item"><a href="#">Для мужчин</a>
						<i class="fa fa-plus" aria-hidden="true"></i>
						<ul class="category-menu__sub-list">
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
						</ul>
					</li>
					<li class="category-menu__item"><a href="#">Ювелирные изделия</a>
						<i class="fa fa-plus" aria-hidden="true"></i>
						<ul class="category-menu__sub-list">
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
						</ul>
					</li>
					<li class="category-menu__item"><a href="#">бренды</a>
						<i class="fa fa-plus" aria-hidden="true"></i>
						<ul class="category-menu__sub-list">
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
						</ul>
					</li>
					<li class="category-menu__item"><a href="#">Аксессуары</a></li>
					<li class="category-menu__item"><a href="#">Сумки</a></li>
					<li class="category-menu__item"><a href="#">Часы</a></li>
					<li class="category-menu__item"><a href="#">Подарочные сертификаты</a>
						<i class="fa fa-plus" aria-hidden="true"></i>
						<ul class="category-menu__sub-list">
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
						</ul>
					</li>
					<li class="category-menu__item"><a href="#">Специальные предложения</a>
						<i class="fa fa-plus" aria-hidden="true"></i>
						<ul class="category-menu__sub-list">
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
							<li class="category-menu__sub-item"><a href="#">sub menu item</a></li>
						</ul>
					</li>
				</ul>
			</nav>