		</main>
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="footer-logo clearfix">
							<a href="#" class="footer-logo__logo-img"><img src="img/logo.png" alt="logo"></a>
							<a href="#" class="footer-logo__lang"><img src="img/icon/flag--ukr.jpg" alt="ukr"></a>
						</div>
						<!-- footer-logo -->

						<div class="footer-menu clearfix">

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Для мужчин</a>
								<ul class="footer-menu__list">
									<li><a href="#">menu item long link fo 2 row</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item long link fo 2 row</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
								</ul>
								<span class="footer__down-arrow"><i class="fa fa-angle-down"></i></span>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Ювелирные изделия</a>
								<ul class="footer-menu__list">
									<li><a href="#">menuitemwithlongword</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item long link fo 2 row</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
								</ul>
								<span class="footer__down-arrow"><i class="fa fa-angle-down"></i></span>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">бренды </a>
								<ul class="footer-menu__list">
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
								</ul>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Аксессуары</a>
								<ul class="footer-menu__list">
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
								</ul>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Сумки  </a>
								<ul class="footer-menu__list">
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
								</ul>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Часы </a>
								<ul class="footer-menu__list">
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
								</ul>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Подарочные сертификаты</a>
								<ul class="footer-menu__list">
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
									<li><a href="#">menu item</a></li>
								</ul>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Акции</a>
								<ul class="footer-menu__list">
								</ul>
							</div>
							<!-- footer-menu__col -->

							<div class="footer-menu__col">
								<a href="#" class="footer-menu__title">Специальные предложения</a>
								<ul class="footer-menu__list">
								</ul>
							</div>
							<!-- footer-menu__col -->
						</div>
						<!-- footer-menu -->
					</div>
					<!-- col -->

					<div class="col-sm-12 footer-bottom clearfix">
						<div class="social-link social-link--footer">
							<ul class="social-link__list social-link__list--footer">
								<!--<li><a href="#"><i>B</i></a></li>-->
								<!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
								<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
						<!-- social-links -->

						<div class="footer-contact footer-bottom__left">
							<p class="footer-contact__title">Администрация магазина</p>
							<p class="footer-contact__phone">+38  063-300-88-99</p>
						</div>
						<!-- footer-contact -->

						<div class="footer-bottom__right">
							<ul class="footer-pay-system">
								<li><img src="img/icon/pay-system-sprite.png" alt=""></li>
							</ul>
							<a href="#" class="footer-copy">Сделано в <img src="img/icon/copy.png" alt=""></a>

						</div>
						<!-- footer-bottom__right -->

					</div>
					<!-- col -->
				</div>
				<!-- row -->
			</div>
			<!-- container-fluid -->
		</footer>
		<!-- footer -->
	</div>
	<!-- wrapper -->