<nav class="swipe-menu" role="navigation">
		<a href="#" class="swipe-menu-logo">
			<img src="img/logo--dark.png" alt="logo">
		</a>
		<ul class="swipe-menu__list">
			<li class="swipe-menu__item">
				<a href="#">Новости</a>
			</li>
			<li class="swipe-menu__item"><a href="#">О нас</a>
			</li>
			<li class="swipe-menu__item"><a href="#">Доставка и оплата</a></li>
			<li class="swipe-menu__item"><a href="#">Гарантия</a></li>
			<li class="swipe-menu__item"><a href="#">Наши магазины</a></li>
			<li class="swipe-menu__item"><a href="#">Контакты</a></li>
			<li class="swipe-menu__item"><a href="#">Наши бренды</a></li>
			<li class="swipe-menu__item"><a href="#">Отзывы и предложения</a></li>
			<li class="swipe-menu__item"><a href="#">Акции</a></li>
			<li class="swipe-menu__item"><a href="#">Программа лояльности</a></li>
			<li class="swipe-menu__item"><a href="#">ОПТ</a></li>
		</ul>
	</nav>
	<!-- swipe-menu -->
	<button class="toggle-menu js-toggle-menu">
		<span class="sandwich">
			<span class="sw-topper"></span>
		<span class="sw-bottom"></span>
		<span class="sw-footer"></span>
		</span>
	</button>

	<div class="wrapper">
		<!-- [if lt IE 8]>
		<div class="warning-banner"><h1>Ваш браузер устарел</h1><p>Сайт не может корректно работать с браузерами, не поддерживающими общепринятые Web-стандарты.</p><p><a href="http://browsehappy.com/">Обновите Ваш браузер</a> до актуальной версии и вы получите доступ к последним технологиям.</p></div>
		<![endif] -->
		<header class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">

						<div class="header-left">
							<div class="reg-links">
								<ul class="header-link-list header-link-list--reg">
									<li><a href="policy-pop-up.html" class="js-pop-up-ajax">Вход</a></li>
									<li><a href="registration-pop-up.html" class="js-pop-up-ajax">Регистрация</a></li>
								</ul>
							</div>
							<!-- reg-links -->
							<div class="social-link social-link--header">
								<ul class="social-link__list social-link__list--header">
									<!--<li><a href="#"><i>B</i></a></li>-->
									<!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
									<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
							<!-- social-links -->
						</div>
						<!-- header__left -->

						<a href="#" class="main-logo">
							<img src="img/logo.png" alt="logo">
						</a>
						<!--  main-logo -->

						<div class="header-right">
							<div class="lang-links">
								<ul class="header-link-list header-link-list--lang">
									<li><a href="#">Рус</a></li>
									<li><a href="#">Укр</a></li>
								</ul>
							</div>
							<!-- lang-links -->
							<form action="" class="header-search">
								<input class="header-search__input" id="header-search" type="text" placeholder="Поиск по товару">
								<label class="header-search__label" for="header-search"><i class="fa fa-search"></i></label>
							</form>
							<!-- header-search -->
						</div>
						<!-- header__right -->



					</div>
					<!-- col -->
				</div>
				<!-- row -->
			</div>
			<!-- container-fluid -->
		</header>
		<!-- header -->
		<main class="main-content" role="main">
			<nav class="top-menu" role="navigation">
				<ul class="top-menu__list">
					<li class="top-menu__item">
						<a href="#">Новости</a>
					</li>
					<li class="top-menu__item"><a href="#">О нас</a>
					</li>
					<li class="top-menu__item"><a href="#">Доставка и оплата</a></li>
					<li class="top-menu__item"><a href="#">Гарантия</a></li>
					<li class="top-menu__item"><a href="#">Наши магазины</a></li>
					<li class="top-menu__item"><a href="#">Контакты</a></li>
					<li class="top-menu__item"><a href="#">Наши бренды</a></li>
					<li class="top-menu__item"><a href="#">Отзывы и предложения</a></li>
					<li class="top-menu__item"><a href="#">Акции</a></li>
					<li class="top-menu__item"><a href="#">Программа лояльности</a></li>
					<li class="top-menu__item"><a href="#">ОПТ</a></li>
				</ul>
			</nav>