<div class="img-slider js-img-slider">
	<div class="img-slider__slide">
		<a href="#0"><img src="@@img-1" alt=""></a>
	</div>
	<!-- img-slider__slide -->
	<div class="img-slider__slide">
		<a href="#0"><img src="@@img-1" alt=""></a>
	</div>
	<!-- img-slider__slide -->
</div>
<!-- img-slider -->