<div class="pop-up-holder" style="display: none">
	<div id="delivery-info" class="pop-up pop-up--dark pop-up--full-width">
			<button title="Close (Esc)" type="button" class="mfp-close pop-up__close-btn" onclick="$.magnificPopup.close();">
				<i class="icon-close_cross"></i>
			</button>
			<div class="pop-up__content">
				<h2 class="pop-up__title">Доставка</h2>
				<p>У каждого из нас чуть ли не каждый день возникает необходимость куда-то за чем-то поехать, что-то где-то купить. Это нужно либо для себя лично, либо по работе привезти в офис. И, конечно, это сделать некогда или просто лень ехать в магазин, чтобы купить что-то нужное. Зачем вообще тратить на это время и силы, если можно позвонить нам, объяснить оператору куда нужно поехать, что купить или взять, если оплаты не требуется?</p>
				<p>Вы правильно сделаете, если пошлете нашего гонца в магазин за себя, потому что это наша работа — доставка любых товаров, которые Вам необходимы и которые продаются в магазинах. Доставка товара или каких-либо предметов, посылок на дом или в офис - это хороший способ сэкономить драгоценное время, которое можно потратить на более полезные дела. Так что, если вам нужно что-то из магазина или еще откуда-то, то смело набирайте удобный для Вас номер и говорите ЧТО Вам нужно, КУДА и КОГДА это доставить. Наш гонец быстро слетает в магазин, купит ВСЁ, что нужно, и доставит покупки по Вашему адресу в удобное для Вас время.</p>
			</div>
			<!-- pop-up__content -->
		</div>
		<!-- pop-up -->

		<div id="payment-info" class="pop-up pop-up--dark pop-up--full-width">
			<button title="Close (Esc)" type="button" class="mfp-close pop-up__close-btn" onclick="$.magnificPopup.close();">
				<i class="icon-close_cross"></i>
			</button>
			<div class="pop-up__content">
				<h2 class="pop-up__title">ОПЛАТА</h2>
				<p>У каждого из нас чуть ли не каждый день возникает необходимость куда-то за чем-то поехать, что-то где-то купить. Это нужно либо для себя лично, либо по работе привезти в офис. И, конечно, это сделать некогда или просто лень ехать в магазин, чтобы купить что-то нужное. Зачем вообще тратить на это время и силы, если можно позвонить нам, объяснить оператору куда нужно поехать, что купить или взять, если оплаты не требуется?</p>
				<p>Вы правильно сделаете, если пошлете нашего гонца в магазин за себя, потому что это наша работа — доставка любых товаров, которые Вам необходимы и которые продаются в магазинах. Доставка товара или каких-либо предметов, посылок на дом или в офис - это хороший способ сэкономить драгоценное время, которое можно потратить на более полезные дела. Так что, если вам нужно что-то из магазина или еще откуда-то, то смело набирайте удобный для Вас номер и говорите ЧТО Вам нужно, КУДА и КОГДА это доставить. Наш гонец быстро слетает в магазин, купит ВСЁ, что нужно, и доставит покупки по Вашему адресу в удобное для Вас время.</p>
			</div>
			<!-- pop-up__content -->
		</div>
		<!-- pop-up -->
		
		<div id="exchange-info" class="pop-up pop-up--dark pop-up--full-width">
			<button title="Close (Esc)" type="button" class="mfp-close pop-up__close-btn" onclick="$.magnificPopup.close();">
				<i class="icon-close_cross"></i>
			</button>
			<div class="pop-up__content">
				<h2 class="pop-up__title">ОБМЕН </h2>
				<p>У каждого из нас чуть ли не каждый день возникает необходимость куда-то за чем-то поехать, что-то где-то купить. Это нужно либо для себя лично, либо по работе привезти в офис. И, конечно, это сделать некогда или просто лень ехать в магазин, чтобы купить что-то нужное. Зачем вообще тратить на это время и силы, если можно позвонить нам, объяснить оператору куда нужно поехать, что купить или взять, если оплаты не требуется?</p>
				<p>Вы правильно сделаете, если пошлете нашего гонца в магазин за себя, потому что это наша работа — доставка любых товаров, которые Вам необходимы и которые продаются в магазинах. Доставка товара или каких-либо предметов, посылок на дом или в офис - это хороший способ сэкономить драгоценное время, которое можно потратить на более полезные дела. Так что, если вам нужно что-то из магазина или еще откуда-то, то смело набирайте удобный для Вас номер и говорите ЧТО Вам нужно, КУДА и КОГДА это доставить. Наш гонец быстро слетает в магазин, купит ВСЁ, что нужно, и доставит покупки по Вашему адресу в удобное для Вас время.</p>
			</div>
			<!-- pop-up__content -->
		</div>
		<!-- pop-up -->

		
</div><!-- pop-up-holder -->