<div class="pop-up-holder" style="display: none">
	<div id="registration-success" class="pop-up">
		<button title="Close (Esc)" type="button" class="mfp-close pop-up__close-btn" onclick="$.magnificPopup.close();">
			<i class="icon-close_cross"></i>
		</button>
		<div class="pop-up__content align-center">
			<p>Спасибо за регистрацию. Приятных покупок!</p>
			<hr>
			<br>
			<a href="#" onclick="$.magnificPopup.close();" class="link-btn">продолжить покупки</a>
		</div>
		<!-- pop-up__content -->
	</div>
	<!-- pop-up -->
</div><!-- pop-up-holder -->