<div class="product-slider js-grid-slider">
	@@include('prod-slider__gallery.html', {
	"img-1": "@@img-1",
	"img-2": "@@img-2",
	"img-3": "@@img-3"
	})

	<div class="prod-slider__image">

		<div class="prod-slider__label-wrapper">
			<img src="img/icon/label--new.png" alt="Новинка" class="prod-slider__label">
			<img src="img/icon/label--discount.png" alt="Скидка" class="prod-slider__label">
			<img src="img/icon/label--stock.png" alt="Акция" class="prod-slider__label">
		</div>
		<!-- prod-slider__label-wrapper -->

		@@include('prod-image-slider.html', {
		"img-1": "@@img-1",
		"img-2": "@@img-2",
		"img-3": "@@img-3"
		})

	</div>
	<!-- prod-slider__image -->
</div>
<!-- product-slider -->