<div class="js-prod-image-slider prod-image-slider">
	<div class="prod-image-slider__slide">
		<img src="@@img-1" alt="">
	</div>
	<div class="prod-image-slider__slide">
		<img src="@@img-2" alt="">
	</div>
	<div class="prod-image-slider__slide">
		<img src="@@img-3" alt="">
	</div>
	<div class="prod-image-slider__slide">
		<img src="@@img-2" alt="">
	</div>
	<div class="prod-image-slider__slide">
		<img src="@@img-1" alt="">
	</div>
</div>
<!-- prod-image-slider -->