<div class="prod-slider__gallery js-prod-gallery-slider">
	<div class="prod-gallery-slider__slide">
		<div class="prod-slider__slide-inner" style="background-image: url(@@img-1);">
		</div><!-- prod-slider__slide-inner -->
	</div>
	<div class="prod-gallery-slider__slide">
		<div class="prod-slider__slide-inner" style="background-image: url(@@img-2);">
		</div><!-- prod-slider__slide-inner -->
	</div>
	<div class="prod-gallery-slider__slide">
		<div class="prod-slider__slide-inner" style="background-image: url(@@img-3);">
		</div><!-- prod-slider__slide-inner -->
	</div>
	<div class="prod-gallery-slider__slide">
		<div class="prod-slider__slide-inner" style="background-image: url(@@img-2);">
		</div><!-- prod-slider__slide-inner -->
	</div>
	<div class="prod-gallery-slider__slide">
		<div class="prod-slider__slide-inner" style="background-image: url(@@img-1);">
		</div><!-- prod-slider__slide-inner -->
	</div>
</div>
<!-- prod-gallery-slider -->