<!-- scripts -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="libs/jquery/jquery-1.11.3.min.js"><\/script>')
	</script>
	<!-- libs -->
	<!--<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHHUnlsnx3cOKdUiz3cmH8z0V2VLOD-oA">
</script>
	<script src=libs/custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js></script>
	<script src=libs/magnific-popup/jquery.magnific-popup.min.js></script>
	<script src=libs/slick/slick.js></script>
	<script src=libs/formStyler/jquery.formstyler.min.js></script>
	<script src=libs/jquery-ui-1.11.4.custom/jquery-ui.min.js></script>
	<script src=libs/jquery-ui-1.11.4.custom/jquery.ui.touch-punch.min.js></script>
	<script src=libs/bootstrap-rating/bootstrap-rating.min.js></script>

	<script src=js/main.js></script>

	<!-- Yandex.Metrika counter -->
	<!-- /Yandex.Metrika counter -->

	<!-- Google Analytics counter -->
	<!-- /Google Analytics counter -->