<div class="showroom-slider js-grid-slider @@addClasses">
	<div class="showroom-gallery js-prod-gallery-slider">
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-1);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-2);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-3);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-4);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-5);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-6);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-7);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
		<div class="showroom-gallery__slide">
			<div class="showroom-gallery__slide-inner" style="background-image: url(@@img-8);">
			</div><!-- showroom-gallery__slide-inner -->
		</div>
	</div>
	<!-- showroom-gallery -->

	<div class="showroom-image">
		<div class="js-prod-image-slider showroom-image__slider">
			<div class="showroom-image__slide">
				<img src="@@img-1" alt="">
			</div>
			<div class="showroom-image__slide">
				<img src="@@img-2" alt="">
			</div>
			<div class="showroom-image__slide">
				<img src="@@img-3" alt="">
			</div>
			<div class="showroom-image__slide">
				<img src="@@img-4" alt="">
			</div>
			<div class="showroom-image__slide">
				<img src="@@img-5" alt="">
			</div>
			<div class="showroom-image__slide">
				<img src="@@img-6" alt="">
			</div>
			<div class="showroom-image__slide">
				<img src="@@img-7" alt="">
			</div>
			<div class="showroom-image__slide">
				<img src="@@img-8" alt="">
			</div>
		</div>

	</div>
	<!-- showroom-gallery__image -->
</div>
<!-- showroom-slider -->