<section class="section section--social-sharing">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="social-link-title social-link-title--pre-footer">Поделиться в соцсетях</h2>
				<div class="social-link social-link--pre-footer">
					<ul class="social-link__list social-link__list--pre-footer">
						<!--<li><a href="#"><i>B</i></a></li>-->
						<!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
						<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
				<!-- social-links -->

			</div>
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->
</section>
<!-- section -->