<div class="social">
	<p class="social__title">Мы в соцсетях:</p>
	<ul class="social__list">
		<!--<li><a href="#"><i>B</i></a></li>-->
		<!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
		<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-facebook"></i></a></li>
		<li><a href="https://ru-ru.facebook.com/tesoroShops/"><i class="fa fa-instagram"></i></a></li>
	</ul>
</div>
<!-- social-links -->