<div class="banner banner--video">
	<div class="banner__img-wrapper" style="background-image: url(img/i/video-banner-1.jpg)">

		<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="banner__play js-popup-video" tabindex="0"><img src="img/icon/play_circle.svg" alt="play"></a>
	</div>
	<!-- video-banner__img-wrapper -->
	<div class="banner__content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 banner__content-inner">
					<h3 class="banner__title">Коллекция Элегантности</h3>
					<p class="banner__text">Лучшая колеекция весна-лето 2016</p>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container-fluid -->
	</div>
	<!-- video-banner__content -->
</div>